<?php
    $currentCat = Mage::registry('current_category');
    $currentCatId = $currentCat ? $currentCat->getId() : 0;
    $featuredCat = Mage::getModel('catalog/category')->load(FEATURED_CATEGORY);
    $saleCat = Mage::getModel('catalog/category')->load(SALE_CATEGORY);
    $ccCat = Mage::getModel('catalog/category')->load(CC_CATEGORY);

    $currentMode = 0;

    if ($currentCatId)
    {
        if ($currentCatId == FEATURED_CATEGORY || $currentCatId == SALE_CATEGORY || $currentCatId == CC_CATEGORY)
        {
            $currentMode = 1;
        }
        else
        {
            $currentMode = 2;
        }
    }

    $pageCollection = Mage::getModel('cms/page')->getCollection()->addStoreFilter(Mage::app()->getStore()->getId());
    $topFreePage = null;
    $topPaidPage = null;

    foreach ($pageCollection as $page)
    {
        switch (trim($page->getContent()))
        {
            case "top_free":
                $topFreePage = $page;
                break;

            case "top_paid":
                $topPaidPage = $page;
                break;
        }
    }
?>

<div class="dropdown catalog-header-links" style="float: right; margin: 3px 270px 0px 0px;">
  <a class="dropdown-toggle<?php if ($currentMode == 2) { echo " active"; } ?>" data-toggle="dropdown" style="line-height: 52px;" href="#">
<?php
    if ($currentMode == 2)
    {
        echo $currentCat->getName() . " (" . Mage::getModel('catalog/category')->load($currentCat->getId())->getProductCount() . ")";
    }
    else
    {
        echo $this->__("Categories");
    }
?>
    <i class="fa fa-chevron-down" style="font-size: 16px; position: relative; top: -2px;"></i>
  </a>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
<?php foreach ($this->getStoreCategories() as $cat) { ?>
<?php if ($cat->getIsActive() && !in_array($cat->getId(), array(FEATURED_CATEGORY, SALE_CATEGORY, CC_CATEGORY))) { ?>
 <li><a href="<?php echo $this->getCategoryUrl($cat); ?>"><?php echo $cat->getName(); ?> (<?php echo Mage::getModel('catalog/category')->load($cat->getId())->getProductCount(); ?>)</a></li>
<?php } ?>
<?php } ?>
  </ul>
</div>

<div class="catalog-header-links" style="margin-top: 0px; overflow: hidden;">
 <a<?php if ($currentCatId == FEATURED_CATEGORY) { echo " class=\"active\""; } ?> href="<?php echo $this->getCategoryUrl($featuredCat); ?>"><?php echo $featuredCat->getName(); ?></a>
<?php if ($topFreePage) { ?>
 <a href="<?php echo Mage::Helper('cms/page')->getPageUrl($topFreePage->getId()); ?>" style="margin-left: 20px;" data-magic-highlight="true"><?php echo $topFreePage->getTitle(); ?></a>
<?php } ?>
 <a<?php if ($currentCatId == SALE_CATEGORY) { echo " class=\"active\""; } ?> style="margin-left: 20px;" href="<?php echo $this->getCategoryUrl($saleCat); ?>"><?php echo $saleCat->getName(); ?></a>
<?php if ($topPaidPage) { ?>
 <a href="<?php echo Mage::Helper('cms/page')->getPageUrl($topPaidPage->getId()); ?>" style="margin-left: 20px;" data-magic-highlight="true"><?php echo $topPaidPage->getTitle(); ?></a>
<?php } ?>
 <a<?php if ($currentCatId == CC_CATEGORY) { echo " class=\"active\""; } ?> style="margin-left: 20px;" href="<?php echo $this->getCategoryUrl($ccCat); ?>"><?php echo $ccCat->getName(); ?></a>
</div>

<div style="border-top: 1px solid #CCC;"></div>
