<?php
    require_once __DIR__ . "/../../../../../../code/local/Eliademy/config.php";

    if (defined("CATALOG_REDIRECT_URL"))
    {
        header("Location: " . CATALOG_REDIRECT_URL);
        exit(0);
    }

    $idx = 0;
?>

<?php if (@$_GET["type"] != "list") { ?>
<div style="clear: both; height: 30px;"></div>
<div class="catalog-4cols">
<?php } ?>

<?php foreach ($this->getLoadedProductCollection() as $_product) {

    $idx++;

    if (isset($_GET["limit"]))
    {
        if ($_GET["limit"] < $idx)
        {
            break;
        }
    }
?>

<div class="catalog-card" style="float: left; vertical-align: top;">
<a href="<?php echo $_product->getProductUrl(); ?>" title="<?php echo $_product->getName(); ?>" style="text-decoration: none; color: currentcolor;">

<div class="catalog-card-image" style="position: relative;">
<?php if ($_product->getData("course_completed")) { ?>
 <div class="label label-warning" style="position: absolute; top: 125px; right: 5px;"><?php echo $this->__("Completed"); ?></div>
<?php } ?>
<?php if ((int) $_product->getData("course_cert")) { ?>
 <div style="position: absolute; top: 10px; right: 10px;"><i class="fa fa-certificate" style="font-size: 26px; color: #4189DD;"></i></div>
<?php } ?>
 <?php if (file_exists(HOMEPAGE_DIR . "/extimg/" . $_product->getSku() . "_course_backgroundtn.jpg")) { ?>
 <img src="<?php echo HOMEPAGE_ROOT . "extimg/" . $_product->getSku() . "_course_backgroundtn.jpg"; ?>" alt="<?php echo $_product->getName(); ?>">
 <?php } elseif (file_exists(HOMEPAGE_DIR . "/extimg/" . $_product->getSku() . "_course_background.jpg")) { ?>
 <img style="margin-left: -250px;" src="<?php echo HOMEPAGE_ROOT . "extimg/" . $_product->getSku() . "_course_background.jpg"; ?>" alt="<?php echo $_product->getName(); ?>">
 <?php } elseif ($_product->getCourseBackground() != "no_selection") { try { ?>
 <img style="margin-left: -250px;" src="<?php echo $this->helper('catalog/image')->init($_product, 'course_background')->setQuality(95); ?>" alt="<?php echo $_product->getName(); ?>">
 <?php } catch (Exception $ex) { ?>
 <img style="margin-left: -250px;" src="<?php echo $this->getSkinUrl("img/default-course-bgr.jpg"); ?>" alt="<?php echo $_product->getName(); ?>">
 <?php } } else { ?>
 <img style="margin-left: -250px;" src="<?php echo $this->getSkinUrl("img/default-course-bgr.jpg"); ?>" alt="<?php echo $_product->getName(); ?>">
 <?php } ?>
</div>

<div class="catalog-card-name<?php if (strlen($_product->getName()) > 40) echo(" longtext"); ?>">
 <?php echo $_product->getName(); ?>
</div>

<div class="catalog-vertical-fade"></div>

<div class="catalog-card-teacher">
<table>
<tr>
<td rowspan="2" style="min-width: 47px;">
<?php if ($_product->getTeacherAvatar() != "no_selection") { try { ?>
 <img src="<?php echo $this->helper('catalog/image')->init($_product, 'teacher_avatar'); ?>" alt="<?php echo $_product->getData("teacher"); ?>">
<?php } catch (Exception $ex) { ?>
 <img src="<?php echo $this->getSkinUrl("img/default_32.jpg"); ?>" alt="<?php echo $_product->getData("teacher"); ?>">
<?php } } elseif (file_exists(HOMEPAGE_DIR . "/extimg/" . $_product->getSku() . "_course_teacher.jpg")) { ?>
 <img src="<?php echo HOMEPAGE_ROOT . "extimg/" . $_product->getSku() . "_course_teacher.jpg"; ?>" alt="<?php echo $_product->getData("teacher"); ?>">
<?php } else { ?>
 <img src="<?php echo $this->getSkinUrl("img/default_32.jpg"); ?>" alt="<?php echo $_product->getData("teacher"); ?>">
<?php } ?>
</td>
<td><?php echo $_product->getData("teacher"); ?></td>
</tr>
<tr><td><?php echo (!$_product->getData("teacher_title")) ? "&nbsp;" : $_product->getData("teacher_title"); ?></td></tr>
</table>
</div>

<div class="catalog-card-status">
<table style="width: 100%;">
<tr>
 <td style="width: 25%;"><i class="fa fa-users"></i>&nbsp;<?php echo $_product->getData("participants"); ?></td>
 <td style="width: 50%; text-align: center;">
<?php
    $summaryData = Mage::getModel('review/review_summary')->load($_product->getId());

    if ($summaryData["rating_summary"])
    {
        $stars = (int) ($summaryData["rating_summary"] / 20);

        for ($i=0; $i<$stars; $i++)
        {
            echo "<i class=\"fa fa-star\" style=\"color: gold\"></i>\n";
        }

        for ($i=$stars; $i<5; $i++)
        {
            echo "<i class=\"fa fa-star-o\" style=\"color: gold\"></i>\n";
        }
    }
    else
    {
?>
        <i class="fa fa-star-o" style="color: gold;"></i>
        <i class="fa fa-star-o" style="color: gold;"></i>
        <i class="fa fa-star-o" style="color: gold;"></i>
        <i class="fa fa-star-o" style="color: gold;"></i>
        <i class="fa fa-star-o" style="color: gold;"></i>
<?php
    }
?>
 </td>
 <td style="width: 25%; text-align: right;"><?php echo ((int) $_product->getPrice()) ? $this->helper('checkout')->formatPrice($_product->getPrice()) : $this->__("Free"); ?></td>
</tr>
</table>
</div>

</a></div>

<?php } ?>

<div style="clear: both;"></div>

<?php if (@$_GET["type"] != "list") { ?>
</div> <!-- /catalog 4 cols -->

<?php echo $this->getChildHtml("product_list_toolbar"); ?>
<?php } ?>
