<?php

    $pageNotFound = Mage::app()->getRequest()->getControllerName() == "index" &&
        (Mage::app()->getRequest()->getActionName() == "index" || Mage::app()->getRequest()->getActionName() == "noRoute") &&
         Mage::app()->getRequest()->getRouteName() == "cms" && Mage::app()->getRequest()->getModuleName() == "cms" &&
         Mage::getBaseUrl() != Mage::helper('core/url')->getCurrentUrl();

    if (@$_GET["type"] == "list")
    {
        if ($pageNotFound)
        {
            Mage::app()->getResponse()->setHeader('HTTP/1.1', '404 Not Found', true);
        }
        else
        {
            echo $this->getChildHtml('content');
            //Mage::app()->getResponse()->setHeader('Content-type', 'text/javascript', true);
        }
    }
    else
    {
        if ($pageNotFound)
        {
            Mage::app()->getResponse()->setHeader('HTTP/1.1', '404 Not Found', true);

            $this->getLayout()->getBlock('head')->setTitle($this->__('Page not found'));
        }
?>
<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
<head>
<?php echo $this->getChildHtml('head') ?>
<link href="//fonts.googleapis.com/css?family=Open+Sans:300&subset=latin,cyrillic,latin-ext,cyrillic-ext,greek-ext,greek,vietnamese" rel="stylesheet">
<link href="/app/a/lib/ckeditor/ckeditor.css" rel="stylesheet">
<link href="/app/a/lib/css/social-buttons.min.css" rel="stylesheet">
</head>
<body style="min-width: 750px;">
<div id="wrapper">
<?php echo $this->getChildHtml('header') ?>
<?php if ($pageNotFound) { ?>

<div style="height: 171px;"></div>
<div class="container">
<div class="panel">
<div class="inner">
 <div style="text-align: center; margin-top: 1em; margin-bottom: 2em;">
    <i class="fa fa-ambulance fa-5x" style="color:#4189DD"></i>
 </div>
<h2 class="panel-head" style="border-bottom: none; text-align: center;">
<?php echo $this->__("Sorry, that page does not exist."); ?>
<br>
<?php echo $this->__("If you were trying to activate an email course invitation, please try clicking Enroll once agan."); ?>
</h2>
 <div style="text-align: center; margin-top: 2em; margin-bottom: 1em;">
    <a href="/catalog/" class="btn btn-primary"><?php echo $this->__("Browse course catalog instead"); ?></a>
 </div>
</div>
</div>
</div>

<?php } else { ?>

<!-- Start Alexa Certify Javascript -->
<script type="text/javascript">
_atrk_opts = { atrk_acct:"3TVni1awA+008d", domain:"eliademy.com",dynamic: true};
(function() { var as = document.createElement('script'); as.type = 'text/javascript'; as.async = true; as.src = "https://d31qbv1cthcecs.cloudfront.net/atrk.js"; var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(as, s); })();
</script>
<noscript><img src="https://d5nxst8fruw4z.cloudfront.net/atrk.gif?account=3TVni1awA+008d" style="display:none" height="1" width="1" alt="" /></noscript>
<!-- End Alexa Certify Javascript -->

<div style="height: 51px;"></div>
<div class="container">
   <?php echo $this->getChildHtml('global_messages') ?>
   <?php echo $this->getChildHtml('left') ?>
   <?php echo $this->getChildHtml('content') ?>
</div> <!-- container -->

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-38321548-1', 'eliademy.com');
  ga('require', 'linkid', 'linkid.js');
  ga('send', 'pageview');
</script>

<?php } ?>

</div>
<?php echo $this->getChildHtml('footer') ?>
</body>
</html>
<?php } ?>
