<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
<head>
<?php echo $this->getChildHtml('head') ?>
<link href="//fonts.googleapis.com/css?family=Open+Sans:300&subset=latin,cyrillic,latin-ext,cyrillic-ext,greek-ext,greek,vietnamese" rel="stylesheet">
<link href="/app/a/lib/ckeditor/ckeditor.css" rel="stylesheet">
<link href="/app/a/lib/css/social-buttons.min.css" rel="stylesheet">
</head>
<body style="min-width: 750px;">
<!-- Start Alexa Certify Javascript -->
<script type="text/javascript">
_atrk_opts = { atrk_acct:"3TVni1awA+008d", domain:"eliademy.com",dynamic: true};
(function() { var as = document.createElement('script'); as.type = 'text/javascript'; as.async = true; as.src = "https://d31qbv1cthcecs.cloudfront.net/atrk.js"; var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(as, s); })();
</script>
<noscript><img src="https://d5nxst8fruw4z.cloudfront.net/atrk.gif?account=3TVni1awA+008d" style="display:none" height="1" width="1" alt="" /></noscript>
<!-- End Alexa Certify Javascript -->
<div id="wrapper">
<?php echo $this->getChildHtml('header') ?>
<div style="height: 71px;"></div>
<div class="container">
 <?php echo $this->getChildHtml('global_messages') ?>
 <?php echo $this->getChildHtml('content') ?>
</div>
</div>
<?php echo $this->getChildHtml('footer') ?>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-38321548-1', 'eliademy.com');
  ga('require', 'linkid', 'linkid.js');
  ga('send', 'pageview');
</script>
</body>
</html>
