<?php

    $_product = $this->getProduct();

    $attributeSetName = Mage::getModel("eav/entity_attribute_set")->load($_product->getAttributeSetId())->getAttributeSetName();

    // Adding product to cart to calculate price with discounts
    $cart = Mage::getSingleton('checkout/cart');
    $cart->init();
    $cart->truncate();

    $currentQuantity = 1;

    if ($attributeSetName == "LICENCE")
    {
        $currentQuantity = isset($_COOKIE["licence_count"]) ? $_COOKIE["licence_count"] : 10;
    }

    $cart->addProduct($_product, array('qty' => $currentQuantity));

    $quote = $cart->getQuote();
    $quote->setCouponCode(@$_GET["coupon"] ? $_GET["coupon"] : "");
    $quote->setTotalsCollectedFlag(false);
    $quote->collectTotals();
    $quote->save();

    if (@$_GET["coupon"])
    {
        setcookie("coupon", $_GET["coupon"], 0, "/");
    }
    else if (@$_COOKIE["coupon"])
    {
        setcookie("coupon", "", time() - 3600, "/");
    }

    $cart->getItems()->clear();
    $cart->getItems()->setQuote($cart->getQuote());

    $totals = $cart->getQuote()->getTotals();
    $price = $totals["grand_total"]->getValue();
    $tax = 0;

    $GLOBALS["current_price"] = $price;

    if ($price === NULL)
    {
        // Cart not yet created, must reload

        // XXX: trying to detect bots...
        if (strpos($_SERVER['HTTP_USER_AGENT'], "facebookexternalhit") === FALSE && !empty($_COOKIE))
        {
            Mage::getSingleton('checkout/session')->setCartWasUpdated(true);
            $cart->save();

            header("Location: " . $_SERVER["REQUEST_URI"], 302);
            exit(0);
        }
        else
        {
            $price = $_product->getPrice();
        }
    }

    // Remove all taxes
    if (array_key_exists("tax", $totals) && $totals["tax"]->getValue())
    {
        $price -= $totals["tax"]->getValue();
    }

    // If country is known, try to apply country specific tax.
    if (@$_COOKIE["user_country"])
    {
        $oTaxRateCollection = Mage::getResourceModel('tax/calculation_rate_collection');
        $oTaxRateCollection->addFieldToFilter('tax_country_id', $_COOKIE["user_country"]);

        foreach ($oTaxRateCollection as $item)
        {
            $tax += $item->getRate();
        }
    }

    /* 0 - no coupon
     * 1 - valid coupon
     * 2 - invalid coupon
     */ 
    $couponStatus = @$_GET["coupon"] ? ($_GET["coupon"] == $quote->getCouponCode() ? 1 : 2) : 0;

    // Clearing cart
    $quote->setActive(false);
    $quote->delete();

    Mage::getSingleton('checkout/session')->setCartWasUpdated(true);
    $cart->save();

?>
<script>
    CurrentCountry = <?php echo (@$_COOKIE["user_country"]) ? ("'" . $_COOKIE["user_country"] . "'") : "null"; ?>;
<?php if ($couponStatus): ?>
    CouponStatus = <?php echo $couponStatus; ?>;
<?php endif; ?>
<?php if ($attributeSetName == "LICENCE") { ?>
    CurrentQuantity = <?php echo (int) $currentQuantity; ?>;
    CurrentTotalPrice = <?php echo $price + ($price * ($tax / 100)); ?>;
<?php } ?>
</script>
<?php $buttonTitle = $this->__('Enrol for') . " " . $this->helper('checkout')->formatPrice($price); ?>
<?php if($_product->isSaleable()) { ?>

        <?php if(!$_product->isGrouped()): ?>
        <input type="hidden" name="qty" id="qty" maxlength="12" value="<?php echo $this->getProductDefaultQty() * $currentQuantity ?>" title="<?php echo $this->__('Qty') ?>" class="input-text qty" />
        <?php endif; ?>

      <?php if ($attributeSetName == "COURSE" && $_product->getData("invitations_only")) { ?>

        <button style="display: none;" class="btn disabled add-to-cart add-to-cart-<?php echo $_product->getSku(); ?> btn-large" disabled="disabled"><?php echo $this->__("Invitations only") ?></button>

      <?php } elseif ($attributeSetName == "COURSE" && !$_product->getData("enrollment_active")) { ?>

        <button style="display: none;" class="btn disabled add-to-cart add-to-cart-<?php echo $_product->getSku(); ?> btn-large" disabled="disabled"><?php echo $this->__("Enrollment closed") ?></button>

      <?php } else { ?>

       <?php if (((double) $price) > 0.0) { ?>
        <?php if ($attributeSetName == "LICENCE" || $attributeSetName == "SUPERLICENCE") { ?>
        <span><?php

            if ($tax > 0)
            {
                echo("<span id=\"licence_total_price\">" . $this->helper('checkout')->formatPrice($price + ($price * ($tax / 100))) . "</span>" . $this->__(" (inc. VAT)"));
            }
            else
            {
                echo("<span id=\"licence_total_price\">" . $this->helper('checkout')->formatPrice($price) . "</span>");
            }

        ?></span>
        <?php } else if ($_product->getVisibility() == 4) { ?>
        <button type="button" style="display: none;" class="button btn-cart btn btn-success add-to-cart add-to-cart-<?php echo $_product->getSku(); ?> btn-large show-payment-items non-payment-item"><span><meta itemprop="currency" content="EUR" /><meta itemprop="price" content="<?php echo (int)$price ?>" /><span><?php echo $buttonTitle ?></span></span></button>
        <span style="font-size: 25px; display: none;" class="payment-item"><?php

            if ($tax > 0)
            {
                echo($this->helper('checkout')->formatPrice($price + ($price * ($tax / 100))) . $this->__(" (inc. VAT)"));
            }
            else
            {
                echo($this->helper('checkout')->formatPrice($price));
            }

        ?></span>
        <?php } else { ?>
        <button type="button" class="button btn-cart btn btn-large add-to-cart-<?php echo $_product->getSku(); ?>" disabled="disabled"><?php echo $this->__("Pending review"); ?></button>
        <?php } ?>
       <?php } else { ?>
        <button type="button" style="display: none;" class="button btn-cart btn btn-success add-to-cart add-to-cart-<?php echo $_product->getSku(); ?> btn-large" onclick="productAddToCartForm.submit(this)"><span><meta itemprop="currency" content="EUR" /><meta itemprop="price" content="0" /><span><?php echo $this->__("Enrol for free"); ?></span></span></button>
       <?php } ?>

      <?php } ?>

        <a href="<?php echo (MAGIC_UI_ROOT . "courses/" . $_product->getSku()); ?>" style="display: none;" class="btn go-to-course go-to-course-<?php echo $_product->getSku(); ?> btn-large"><?php echo $this->__("Go to course"); ?></a>
        <?php echo $this->getChildHtml('', true, true) ?>
<?php } ?>
