<div class="std inner">
 <h2 class="panel-head"><?php echo $this->__("Reviews"); ?></h2>
<?php if ($this->getReviewsCount()): ?>
    <div class="ratings">
        <?php if ($this->getRatingSummary()):?>
            <div class="rating-box">
                <div class="rating" style="width:<?php echo $this->getRatingSummary() ?>%"></div>
            </div>
        <?php endif;?>
        <p class="rating-links">
            <a href="<?php echo $this->getReviewsUrl() ?>"><?php echo $this->__('%d Review(s)', $this->getReviewsCount()) ?></a>
            <span class="separator hide user-display-<?php echo $this->getProduct()->getSku(); ?>">|</span>
            <a class="hide user-display-<?php echo $this->getProduct()->getSku(); ?>" href="<?php echo $this->getReviewsUrl() ?>#review-form"><?php echo $this->__('Add Your Review') ?></a>
        </p>
    </div>
<?php elseif ($this->getDisplayIfEmpty()): ?>
    <p class="no-rating"><?php echo $this->__("No reviews yet."); ?></p>
    <p class="no-rating hide user-display-<?php echo $this->getProduct()->getSku(); ?>"><a href="<?php echo $this->getReviewsUrl() ?>#review-form"><?php echo $this->__('Be the first to review this course') ?></a></p>
<?php endif; ?>
</div>
