<?php

    $checkout = Mage::getSingleton("checkout/type_onepage");
    $firstQuoteItem = "";
    $firstItemAttributeSetName = "";

    foreach ($checkout->getQuote()->getAllItems() as $item)
    {
        $firstQuoteItem = $item->getSku();
        $firstItemAttributeSetName = Mage::getModel("eav/entity_attribute_set")->load(Mage::getModel('catalog/product')->load($item->getProductId())->getAttributeSetId())->getAttributeSetName();
        break;
    }

?>
<div style="display: none;">
<div class="page-title">
    <h1><?php echo $this->__('Checkout') ?></h1>
</div>

<script type="text/javascript" src="<?php echo $this->getJsUrl('varien/accordion.js') ?>"></script>
<script type="text/javascript" src="<?php echo $this->getSkinUrl('js/opcheckout.js') ?>"></script>

<ol class="opc" id="checkoutSteps">
<?php $i=0; foreach($this->getSteps() as $_stepId => $_stepInfo): ?>
<?php /* Skipping login and billing steps... */ ?>
<?php if (!$this->getChild($_stepId) || !$this->getChild($_stepId)->isShow() || $_stepId == "login" || $_stepId == "billing"): continue; endif; $i++ ?>
    <li id="opc-<?php echo $_stepId ?>" class="section<?php echo !empty($_stepInfo['allow'])?' allow':'' ?><?php echo !empty($_stepInfo['complete'])?' saved':'' ?>">
        <div class="step-title">
            <span class="number"><?php echo $i ?></span>
            <h2><?php echo $_stepInfo['label'] ?></h2>
            <a href="#"><?php echo $this->__('Edit') ?></a>
        </div>
        <div id="checkout-step-<?php echo $_stepId ?>" class="step a-item" style="display:none;">
            <?php echo $this->getChildHtml($_stepId) ?>
        </div>
    </li>
<?php endforeach ?>
</ol>
</div>

<script type="text/javascript">
//<![CDATA[
    checkoutProgress = 1;
<?php if ($firstItemAttributeSetName == "LICENCE" || $firstItemAttributeSetName == "SUPERLICENCE") { ?>
    checkoutMessage = "<?php echo $this->__("<h3>Thank you for choosing Eliademy for Business.</h3>" .
        "<h4>Please wait a moment while we process your request.</h4>"); ?>";
<?php } else { ?>
    checkoutMessage = "<?php echo $this->__("<h3>Thank you for choosing this course on Eliademy.</h3>" .
        "<h4>Please wait a moment while you are being enrolled.</h4>"); ?>";
<?php } ?>
    var accordion = new Accordion('checkoutSteps', '.step-title', true);
    <?php if($this->getActiveStep()) { ?>
    accordion.openSection('opc-<?php echo $this->getActiveStep() ?>');
<?php if ($this->getActiveStep() == "login") { ?>

<?php if (!isset($_COOKIE["catalog_uid"])) { ?>
    E.init.push(function ()
    {
        if (_Header.info instanceof Object && _Header.info.userid)
        {
<?php if ($firstItemAttributeSetName == "LICENCE" || $firstItemAttributeSetName == "SUPERLICENCE") { ?>
            if (_Header.info.org)
            {
                document.cookie = "catalog_uid=" + _Header.info.userid;
                location.reload(true);
            }
            else
            {
                window.location.href = E.home + "e4b-error";
            }
<?php } else { ?>
            document.cookie = "catalog_uid=" + _Header.info.userid;
            location.reload(true);
<?php } ?>
        }
        else
        {
            document.cookie = "loginRedirect=<?php echo $this->getUrl('checkout/onepage/'); ?>;path=/";

            window.location.href = E.home + "login";
        }
    });
<?php } else {


    if (@$_COOKIE["user_country"])
    {
        $url = MOODLE_ROOT . "theme/monorail/ext/ajax_user_update.php?country=" . @$_COOKIE["user_country"] . "&user=" . $_COOKIE["catalog_uid"];
        file_get_contents($url);
    }

    $address = array (
        "firstname" => "EUser",
        "lastname" => $_COOKIE["catalog_uid"],
        "email" => "info@cloudberrytec.com",
        "street" => array("Street", "123"),
        "city" => "City",
        "postcode" => 1234,
        "country_id" => (@$_COOKIE["user_country"] ? $_COOKIE["user_country"] : "FI"),
        "telephone" => 123,
        "save_in_address_book" => 0,
        "use_for_shipping" => 1
    );

    setcookie("catalog_uid", "", time() - 3600);

    $checkout->saveCheckoutMethod("guest");
    $checkout->saveBilling($address, false);

    $redirect = NULL;

    $quote = $checkout->getQuote();

    $quote->setCouponCode(@$_COOKIE["coupon"] ? $_COOKIE["coupon"] : "");
    $quote->setTotalsCollectedFlag(false);
    $quote->collectTotals();
    $quote->save();

    if (@$_COOKIE["coupon"])
    {
        setcookie("coupon", "", time() - 3600, "/");
    }

    $totals = $checkout->getQuote()->getTotals();

    if ($totals["grand_total"]->getValue() == 0)
    {
        // No payment - checkout and go to course.
        $checkout->savePayment(array("method" => "free"));

        if ($firstItemAttributeSetName == "LICENCE" || $firstItemAttributeSetName == "SUPERLICENCE")
        {
            $redirect = MAGIC_UI_ROOT . "user-directory";
        }
        else
        {
            $redirect = MAGIC_UI_ROOT . "courses/" . $firstQuoteItem;
        }
    }
    else
    {
        // Must pay

        $checkout->savePayment(array("method" => "checkmo"));
    }

    $checkout->saveOrder();

    if (isset($_COOKIE["bt_nonce"]))
    {
        // Have braintree payment nonce!
        setcookie("bt_nonce", null, 0, "/");

        require_once dirname(__FILE__) . "/../../../../../../code/local/Braintree/Braintree.php";

        Braintree_Configuration::environment(BRAINTREE_ENVIRONMENT);
        Braintree_Configuration::merchantId(BRAINTREE_MERCHANT_ID);
        Braintree_Configuration::publicKey(BRAINTREE_PUBLIC_KEY);
        Braintree_Configuration::privateKey(BRAINTREE_PRIVATE_KEY);

        $result = Braintree_Transaction::sale(array(
          'amount' => $totals["grand_total"]->getValue(),
          'taxAmount' => ((float) $totals["grand_total"]->getValue() - (float) $checkout->getQuote()->getSubtotal()),
          'paymentMethodNonce' => $_COOKIE["bt_nonce"],
          'options' => array('submitForSettlement' => true),
          'customFields' => array(
                'itemcode' => 'course',
                'country' => (@$_COOKIE["user_country"] ? $_COOKIE["user_country"] : "FI"),
                'course' => $firstQuoteItem,
                'user' => $_COOKIE["catalog_uid"]
          )
        ));

        if ($result->success)
        {
            $order = new Mage_Sales_Model_Order();
            $incrementId = Mage::getSingleton('checkout/session')->getLastRealOrderId();
            $order->loadByIncrementId($incrementId);

            if (!$order->canInvoice())
            {
                Mage::throwException(Mage::helper('core')->__('Cannot create an invoice.'));
            }

            $invoice = Mage::getModel('sales/service_order', $order)->prepareInvoice();

            if (!$invoice->getTotalQty())
            {
                Mage::throwException(Mage::helper('core')->__('Cannot create an invoice without products.'));
            }

            $invoice->setRequestedCaptureCase(Mage_Sales_Model_Order_Invoice::CAPTURE_ONLINE);
            $invoice->register();
            $transactionSave = Mage::getModel('core/resource_transaction')->addObject($invoice)->addObject($invoice->getOrder());

            $transactionSave->save();

            if ($firstItemAttributeSetName == "LICENCE" || $firstItemAttributeSetName == "SUPERLICENCE")
            {
                $redirect = MAGIC_UI_ROOT . "user-directory";
            }
            else
            {
                // Payment has been registered by observer. Go directly to enroll...
                $redirect = MOODLE_ROOT . "/theme/monorail/complete_purchase.php?course=" . $firstQuoteItem;
            }
        }
        else
        {
            // TODO: handle brain tree payment error

            error_log(var_export($result->errors->deepAll(), true));

            mail("aurelijus@cloudberrytec.com", "Braintree payment ERROR!",
                "Braintree patment error.\n\n" . var_export($result->errors->deepAll(), true));

            $redirect = MAGIC_UI_ROOT . "courses/" . $firstQuoteItem;
        }
    }

    header("Location: " . $redirect, 302);
    exit(0);

} ?>

<?php } ?>
    <?php } ?>
    var checkout = new Checkout(accordion,{
        progress: '<?php echo $this->getUrl('checkout/onepage/progress') ?>',
        review: '<?php echo $this->getUrl('checkout/onepage/review') ?>',
        saveMethod: '<?php echo $this->getUrl('checkout/onepage/saveMethod') ?>',
        failure: '<?php echo $this->getUrl('checkout/cart') ?>'}
    );
//]]>
</script>
