.wp-save-btn {
    background: url("../images/wisepricer/wp-save-btn.png") no-repeat scroll 0 0 transparent;
    border: medium none;
    height: 31px;
    width: 111px;
}

.wp-save-btn:hover{
    background: url("../images/wisepricer/wp-save-btn.png") no-repeat scroll 0 -35px transparent;
}
.wp-save-btn:active{
    background: url("../images/wisepricer/wp-save-btn.png") no-repeat scroll 0 -70px transparent;    
} 
.top_block .wp-save-btn{margin-top: 15px;}   
.top_block{float:right;width:100%}
.mid_block{
    border-bottom: 1px solid #808080;
    border-top: 1px solid #808080;
    float: right;
    margin: 10px 0 15px;
    padding: 20px 0;
    width: 100%;
}
.bott_block{float:right;width:100%}
.top_block_left{float:left;width:45%}
.top_block_right{float:right;}
.mid_block_left{float:left;width: 45%;}
.mid_block_right{float:right;width: 52%;}
.bott_block_left{float:left;}
.bott_block_right{float:right;}
.guidelines{width: 420px;float:right;padding-top: 20px}
.values-block{width: 580px;position: relative}
.license-block{ background: none repeat scroll 0 0 #F1F1F1;  padding: 20px;  width: 410px;margin-bottom: 20px;}
.license-block label{}
.check-block .label-block label{
    display: inline-block;
    width: 190px;
}
.license-block .label-block{margin-bottom: 10px;}
.license-block input{width: 220px;}
.mid_block .t-header td{ padding-bottom: 10px;}
.mid_block .input-ele,.mid_block td{vertical-align: top; padding-bottom: 10px}
.mid_block .desc{
    color: #8C8C8C;
    font-size: 11px;
    vertical-align: bottom;
    margin-top: 0;
}
.mid_block .desc p{margin-left:10px}
.mid_block .field{color:#F69625}
.guidelines-block ul li{
    background: url("../images/wisepricer/bullet-green.png") no-repeat scroll 0 4px transparent;
    margin-bottom: 10px;
    padding-left: 15px;
}
.mapping-guidelines{margin-top: 125px; }
.import-guidelines{margin-top: 70px;}
.import-settings .label-block{float:left}
.import-settings .chzn-container{float:right}
.import-settings{height:130px}
.values-block-sub{
    float: left;
    width: 410px;
}
.wptip{
    color: #8C8C8C;
    float: left;
    font-size: 11px;
    margin-bottom: 0;
    text-align: left;
}
.b10{margin-bottom:10px !important}
.b0{margin-bottom: 0 !important}
.ship-price-cont{
    background: none repeat scroll 0 0 #F1F1F1;
    float: left;
    padding: 10px 10px 5px;
}
.ship-price-cont-top{width: 330px;float:left;}

.ship-price-cont-bott .label input{ width: 135px;vertical-align:bottom;margin-bottom:7px}
@media screen and (-webkit-min-device-pixel-ratio:0) { .ship-price-cont-bott .label input { margin-bottom:2px}}
.ship-price-cont-bott .value input{ width: 135px;vertical-align:bottom;margin-bottom:7px; margin-right: 20px;}
.ship-price-cont-mid{width: 340px;clear:both;margin:0 0px}
.ship-price-cont-bott{width: 350px;float:left; margin: 10px 0px 0;}
.ship-price-cont .label{float:left;}
.ship-price-cont .value{float:right;margin-right: 4px;}
.mid_block_right .values-block td.label{width:120px}
.mid_block .input-ele{width: 230px;}
.ship-price-cont-mid span{}
.top_block .inner-cont{
    float: right;
    margin-right: 200px;
}
.label input{margin-bottom: 15px;}
.firstcol{}
.firstcol span{ margin-left: 5px;}
.ship-price-cont-bott p{margin-bottom: 0}
.special-opt-cont .desc{vertical-align: top;}
.values-block .input-ele .validation-advice{position:absolute;left:350px;background-image: url('../images/wisepricer/validation_advice_bg.gif');}
.license-block .validation-advice{position:absolute;left:240px;background-image: url('../images/wisepricer/validation_advice_bg.gif');bottom:23px}

   