<div class="user-display hide user-display-<?php echo $this->getProductInfo()->getSku(); ?>">

<?php if ($this->getAllowWriteReviewFlag()): ?>
<form action="<?php echo $this->getAction() ?>" method="post" id="review-form" style="margin-top: 20px;">
<div class="form-add panel">
 <div class="inner">
    <div class="buttons-set pull-right">
                <table class="data-table" id="product-review-table" style="margin-top: 5px;">
                    <tbody>
                    <?php foreach ($this->getRatings() as $_rating): ?>
                        <tr>
                        <?php foreach ($_rating->getOptions() as $_option): ?>
                         <td class="value">
                           <label>
                            <i class="fa fa-star-o" id="star_<?php echo $_option->getId(); ?>" style="margin-left: 1em; color: rgb(71, 143, 225); font-size: 22px;"></i>
                            <input type="radio" name="ratings[<?php echo $_rating->getId() ?>]" id="<?php echo $this->escapeHtml($_rating->getRatingCode()) ?>_<?php echo $_option->getValue() ?>" value="<?php echo $_option->getId() ?>" onclick="updateStars('<?php echo $_option->getId() ?>');" class="radio" style="display: none;" />
                           </label>
                         </td>
                        <?php endforeach; ?>
                        </tr>
                    <?php endforeach; ?>
                    </tbody>
                </table>
                <input type="hidden" name="validate_rating" class="validate-rating" value="" />
    </div>
    <h2 class="panel-head" id="review-title"><?php echo $this->__('Write Your Review') ?></h2>
        <fieldset>
            <?php echo $this->getChildHtml('form_fields_before')?>

                <ul class="form-list" style="list-style: none; margin: 0px;">
                    <li class="hide">
                        <label for="nickname_field" class="required"><em>*</em><?php echo $this->__('Nickname') ?></label>
                        <div class="input-box">
                            <input type="text" readonly="readonly" name="nickname" id="nickname_field" class="input-text required-entry input-xlarge" value="<?php echo $this->escapeHtml($data->getNickname()) ?>" />
                        </div>
                    </li>
                    <li class="hide">
                        <label for="summary_field" class="required hide"><em>*</em><?php echo $this->__('Summary of Your Review') ?></label>
                        <div class="input-box">
                            <input type="text" name="title" id="summary_field" class="input-text required-entry input-xlarge" placeholder="<?php echo $this->__('Summary of Your Review'); ?>" value="<?php echo $this->escapeHtml($data->getTitle()) ?>" />
                        </div>
                    </li>
                    <li>
                        <label for="review_field" class="required hide"><em>*</em><?php echo $this->__('Review') ?></label>
                        <div class="input-box">
                            <textarea name="detail" id="review_field" placeholder="<?php echo $this->__('Review'); ?>" cols="5" rows="7" class="required-entry" style="width: 100%; box-sizing: border-box;"><?php echo $this->escapeHtml($data->getDetail()) ?></textarea>
                        </div>
                    </li>
                </ul>

            </fieldset>
 </div>

            <?php if( $this->getRatings() && $this->getRatings()->getSize()): ?>
<script type="text/javascript">
function updateStars(num)
{
    var i = 1;

    while (i <= num)
    {
        document.getElementById("star_" + i++).setAttribute("class", "fa fa-star");
    }

    while (i <= 5)
    {
        document.getElementById("star_" + i++).setAttribute("class", "fa fa-star-o");
    }
}
</script>

              <div class="footer">

        <button type="submit" style="margin-bottom: 15px;" title="<?php echo $this->__('Submit Review') ?>" class="button btn btn-primary"><span><span><?php echo $this->__('Submit Review') ?></span></span></button>

                <span id="input-message-box"></span>
                <script type="text/javascript">decorateTable('product-review-table')</script>
              </div>
            <?php endif; ?>

</div>

    </form>
    <script type="text/javascript">
    //<![CDATA[
        var dataForm = new VarienForm('review-form');
        Validation.addAllThese(
        [
               ['validate-rating', '<?php echo $this->__('Please select one of each of the ratings above') ?>', function(v) {
                    var trs = $('product-review-table').select('tr');
                    var inputs;
                    var error = 1;

                    for( var j=0; j < trs.length; j++ ) {
                        var tr = trs[j];
                        if( j > 0 ) {
                            inputs = tr.select('input');

                            for( i in inputs ) {
                                if( inputs[i].checked == true ) {
                                    error = 0;
                                }
                            }

                            if( error == 1 ) {
                                return false;
                            } else {
                                error = 1;
                            }
                        }
                    }
                    return true;
                }]
        ]
        );

        E.init.push(function ()
        {
            if (_Header instanceof Object && _Header.info instanceof Object && _Header.info.userid)
            {
                document.getElementById("nickname_field").value = _Header.info.username;
                document.getElementById("summary_field").value = _Header.info.userid;
            }
        });
    //]]>
    </script>
    <?php else: ?>
    <p class="review-nologged" id="review-form">
        <?php echo $this->__('Only registered users can write reviews. Please, <a href="%s">log in</a> or <a href="%s">register</a>', $this->getLoginLink(), Mage::helper('customer')->getRegisterUrl()) ?>
    </p>
    <?php endif ?>
</div>
