<div style="line-height: 30px;">
 <a style="color: #000;" href="<?php echo $this->getBackUrl(); ?>"><i class="fa fa-chevron-left"></i>&nbsp;<?php echo $this->__("Back"); ?></a>
</div>
<?php if($this->getProductData()->getId()): ?>
<div class="product-review panel">
  <div class="inner">
    <div class="page-title">
        <h2 class="panel-head"><?php echo $this->__('Review Details') ?></h2>
    </div>
    <div class="product-details">
        <h4 class="product-name"><?php echo $this->escapeHtml($this->getProductData()->getName()) ?></h4>
        <?php if( $this->getRating()): ?>
            <h3><?php echo $this->__('Product Rating:') ?></h3>
            <table class="ratings-table">
            <?php foreach ($this->getRating() as $_rating): ?>
                    <tr>
                        <th><?php echo $this->__($this->escapeHtml($_rating->getRatingCode())) ?></th>
                        <td>
                            <div class="rating-box">

<?php
        $stars = $_rating->getPercent() / 20;

        for ($i=0; $i<$stars; $i++)
        {
            echo "<i class=\"fa fa-star\"></i>";
        }

        for ($i=$stars; $i<5; $i++)
        {
            echo "<i class=\"fa fa-star-o\"></i>";
        }
?>

                            </div>
                        </td>
                    </tr>
            <?php endforeach; ?>
            </table>
            </dl>
        <?php endif; ?>
        <dl>
            <dt>
                <?php echo $this->__('Product Review (submitted on %s):', $this->dateFormat($this->getReviewData()->getCreatedAt())) ?>
            </dt>
            <dd>
                <?php echo nl2br($this->escapeHtml($this->getReviewData()->getDetail())) ?>
            </dd>
        </dl>
    </div>
  </div>
</div>
<?php endif; ?>
