<?php require_once __DIR__ . "/../../../../../../../code/local/Eliademy/config.php"; ?>
<meta http-equiv="Content-Type" content="<?php echo $this->getContentType() ?>">
<title><?php echo $this->getTitle() ?></title>
<meta property="og:title" content="<?php echo $this->getTitle() ?>">
<meta property="og:type" content="website">
<meta property="og:url" content="<?php echo Mage::helper('core/url')->getCurrentUrl() ?>">
<?php if (Mage::app()->getRequest()->getControllerName() == "product") {
$_product = Mage::registry('current_product');
$attributeSetName = Mage::getModel("eav/entity_attribute_set")->load($_product->getAttributeSetId())->getAttributeSetName();
if ($attributeSetName != "LICENCE" && $attributeSetName != "SUPERLICENCE") {

    if (file_exists(HOMEPAGE_DIR . "/extimg/" . $_product->getSku() . "_course_backgroundtn.jpg")) {
        $imageUrl = HOMEPAGE_ROOT . "extimg/" . $_product->getSku() . "_course_backgroundtn.jpg";
    } else if ($_product->getCourseBackground() != "no_selection") {
        $imageUrl = $_product->getMediaGalleryImages()->getItemByColumnValue('label', 'background')->getUrl();
    } else {
        $imageUrl = $this->getSkinUrl("img/default-course-bgr.jpg");
    }

?>
<meta property="og:image" content="<?php echo $imageUrl; ?>">
<meta property="og:description" content="<?php echo str_replace("\n", " ", htmlspecialchars(strip_tags($_product->getData("description")))) ?>">
<meta name="twitter:card" content="photo">
<meta name="twitter:site" content="@eliademy">
<meta name="twitter:title" content="<?php echo $this->getTitle() ?>">
<meta name="twitter:image" content="<?php echo $imageUrl; ?>">
<meta name="twitter:url" content="<?php echo Mage::helper('core/url')->getCurrentUrl() ?>">
<?php } ?>
<meta name="description" content="<?php echo str_replace("\n", " ", htmlspecialchars(strip_tags($_product->getData("description")))) ?>">
<?php } else { ?>
<meta property="og:image" content="<?php echo $this->getSkinUrl("img/logo-course-title.png") ?>">
<meta name="description" content="<?php echo htmlspecialchars(strip_tags($this->getDescription())) ?>">
<?php } ?>
<meta name="keywords" content="<?php echo htmlspecialchars($this->getKeywords()) ?>">
<meta name="robots" content="<?php echo htmlspecialchars($this->getRobots()) ?>">
<meta name="viewport" content="width=750,initial-scale=1">
<link rel="stylesheet" media="all" href="<?php echo HOMEPAGE_ROOT ?>css/header.css?v1">
<link rel="stylesheet" media="all" href="<?php echo HOMEPAGE_ROOT ?>css/catalog.css?v1">
<link rel="stylesheet" media="all" href="<?php echo MAGIC_UI_ROOT ?>lib/css/bootstrap.min.css?v1">
<link rel="stylesheet" media="all" href="<?php echo MAGIC_UI_ROOT ?>lib/css/bootstrap-responsive.min.css?v1">
<link rel="icon" type="image/x-icon" href="<?php echo HOMEPAGE_ROOT ?>img/favicon/favicon.ico">
<link rel="shortcut icon" type="image/x-icon" href="<?php echo HOMEPAGE_ROOT ?>img/favicon/favicon.ico">
<link rel="apple-touch-icon" href="<?php echo HOMEPAGE_ROOT ?>img/favicon/favicon-apple.png">
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">

<script>
 var E = { root: "<?php echo MOODLE_ROOT; ?>", ui: "<?php echo MAGIC_UI_ROOT; ?>", home: "<?php echo HOMEPAGE_ROOT; ?>", init: [] };
</script>
<?php echo $this->getCssJsHtml() ?>
<script src="<?php echo MAGIC_UI_ROOT ?>lib/js/bootstrap.min.js?v1"></script>
<script src="<?php echo MOODLE_ROOT ?>theme/monorail/ext/ajax_get_toolbar.js"></script>
<script>
 $.noConflict();
</script>
<script>
// Include the UserVoice JavaScript SDK (only needed once on a page)
UserVoice=window.UserVoice||[];(function(){var uv=document.createElement('script');uv.type='text/javascript';uv.async=true;uv.src='//widget.uservoice.com/eTEcdS7m6UK1wuohZOcX0Q.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(uv,s)})();

// Set colors
UserVoice.push(['set', {
  accent_color: '#448dd6',
  trigger_color: 'white',
  trigger_background_color: 'rgba(46, 49, 51, 0.6)'
}]);

// Identify the user and pass traits
// To enable, replace sample data with actual user traits and uncomment the line
if (_Header instanceof Object && _Header.info instanceof Object && _Header.info.userid)
{
    UserVoice.push(['identify', { name: _Header.info.username, id: _Header.info.userid }]);
}
else
{
    UserVoice.push(['identify', { name: "No user" }]);
}

// Add default trigger to the bottom-right corner of the window:
UserVoice.push(['addTrigger', { mode: 'contact', trigger_position: 'bottom-right' }]);

// Autoprompt for Satisfaction and SmartVote (only displayed under certain conditions)
UserVoice.push(['autoprompt', {}]);
</script>
<?php echo $this->getChildHtml() ?>
<?php echo $this->helper('core/js')->getTranslatorScript() ?>
<?php echo $this->getIncludes() ?>
