<?php if($this->getCollection()->getSize()): ?>
    <?php if($this->getLastPageNum()>1): ?>
    <div class="pagination">
        <ul>
        <?php if (!$this->isFirstPage()): ?>
            <li><a href="<?php echo $this->getPreviousPageUrl() ?>"><i class="fa fa-chevron-left"></i></a></li>
        <?php else: ?>
            <li class="disabled"><a href="#"><i class="fa fa-chevron-left"></i></a></li>
        <?php endif;?>

        <?php foreach ($this->getFramePages() as $_page): ?>
            <?php if ($this->isPageCurrent($_page)): ?>
                <li class="active"><a href="#"><?php echo $_page ?></a></li>
            <?php else: ?>
                <li><a href="<?php echo $this->getPageUrl($_page) ?>"><?php echo $_page ?></a></li>
            <?php endif;?>
        <?php endforeach;?>

        <?php if (!$this->isLastPage()): ?>
            <li><a href="<?php echo $this->getNextPageUrl() ?>"><i class="fa fa-chevron-right"></i></a></li>
        <?php else: ?>
            <li class="disabled"><a href="#"><i class="fa fa-chevron-right"></i></a></li>
        <?php endif;?>
        </ul>
    </div>
    <?php endif; ?>
<?php endif ?>
