<?php require_once __DIR__ . "/../../../../../../../code/local/Eliademy/config.php"; ?>
<?php $_helper = $this->helper('catalog/output'); ?>
<?php $_product = $this->getProduct(); ?>
<?php

    if (@$_GET["review"] == "1")
    {
        header("Location: " . $this->getUrl("review/product/list/id/" . $_product->getId() . "/"));
        exit(0);
    }

    $attributeSetName = Mage::getModel("eav/entity_attribute_set")->load($_product->getAttributeSetId())->getAttributeSetName();

    $summaryData = Mage::getModel('review/review_summary')->load($_product->getId());

    require_once dirname(__FILE__) . "/../../../../../../../code/local/Braintree/Braintree.php";

    Braintree_Configuration::environment(BRAINTREE_ENVIRONMENT);
    Braintree_Configuration::merchantId(BRAINTREE_MERCHANT_ID);
    Braintree_Configuration::publicKey(BRAINTREE_PUBLIC_KEY);
    Braintree_Configuration::privateKey(BRAINTREE_PRIVATE_KEY);

?>
<script type="text/javascript">
    var optionsPrice = new Product.OptionsPrice(<?php echo $this->getJsonConfig() ?>);
    var CourseCode = "<?php echo $_product->getSku(); ?>";
    var BlockSubmit = false;
</script>
<!--AddThis Button -  https://www.addthis.com/get/sharing -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=xa-527241bd3919e52b"></script>

<?php if ($attributeSetName == "LICENCE") /* licence product */ { ?>
<script type="text/javascript">
 var LicencePage = true;
</script>
<div style="margin: 20px auto; width: 80%; padding: 18px 24px;">
<h1 class="panel-head" style="text-align: center;"><?php echo $this->__("Pricing made simple"); ?></h1>

<div class="hbox" style="margin: 20px 0px;">
<div style="text-align: center; width: 50%;">
 <div style="font-size: 91px; line-height: 100px;">&euro;<?php echo round($_product->getPrice(), 2); ?></div>
 <div style="color: #666;"><?php echo $this->__("Per user per year"); ?></div>
</div>
<div style="width: 50%; line-height: 28px;">
  <div><i class="fa fa-check" style="color: green;"></i>&nbsp;&nbsp;<?php echo $this->__("Webinars and live tutoring"); ?></div>
  <div><i class="fa fa-check" style="color: green;"></i>&nbsp;&nbsp;<?php echo $this->__("Advanced learning analytics and reporting"); ?></div>
  <div><i class="fa fa-check" style="color: green;"></i>&nbsp;&nbsp;<?php echo $this->__("Mass messaging for course participants"); ?></div>
  <div><i class="fa fa-check" style="color: green;"></i>&nbsp;&nbsp;<?php echo $this->__("Your own course catalog with branding"); ?></div>
  <div><i class="fa fa-check" style="color: green;"></i>&nbsp;&nbsp;<?php echo $this->__("Mass enrollments and group management"); ?></div>
  <div><i class="fa fa-check" style="color: green;"></i>&nbsp;&nbsp;<?php echo $this->__("Integration with Google Apps for Business"); ?></div>
  <div><i class="fa fa-check" style="color: green;"></i>&nbsp;&nbsp;<?php echo $this->__("Priority support and help desk"); ?></div>
</div>
</div>

<div style="text-align: center;"><?php echo $this->__("Price is VAT exclusive. For customers in the EU, a 24% Finland VAT will be added."); ?></div>
</div>

<div class="panel"><div class="inner">

<h2 class="panel-head"><?php echo $this->__("Secure Payment Confirmation"); ?></h2>

<div style="text-align: center; margin-bottom: 20px;">
 <div class="btn-group">
  <button class="btn active"><?php echo $this->__("Debit/Credit Card or PayPal"); ?></button>
  <button class="btn disabled"><?php echo $this->__("Skrill"); ?></button>
  <button class="btn disabled"><?php echo $this->__("Robokassa"); ?></button>
 </div>
</div>

<div class="row-fluid">     <?php /* row */ ?>
<div class="span5">     <?php /* span5 */ ?>

<div>
 <label><?php echo $this->__("Organization:"); ?></label>
 <input type="text" class="input-medium" readonly="readonly" id="org_name_field">
</div>

<div>
 <label><?php echo $this->__("Users:"); ?></label>
 <div class="input-prepend input-append">
  <button class="btn" id="licence_del_user_btn"><i class="fa fa-minus"></i></button>
  <input type="text" class="input-small" id="licence_user_count" value="<?php echo isset($_COOKIE["licence_count"]) ? $_COOKIE["licence_count"] : 10 ?>">
  <button class="btn" id="licence_add_user_btn"><i class="fa fa-plus"></i></button>
 </div>
</div>

<div>
 <?php echo $this->__("Valid until:"); ?> <span><?php echo date("d.m.Y", time() + 31536000); ?></span> (<?php echo $this->__("365 days"); ?>)
</div>

<div id="apply-coupon-controls" style="margin-top: 10px;">
  <label for="inputCoupon"><?php echo $this->__("Discount coupon"); ?>:</label>
  <input type="text" name="coupon" id="inputCoupon" style="margin: 0px;" placeholder="Enter coupon code" value="<?php echo(@$_GET["coupon"]); ?>">
  <input type="button" class="btn btn-success" id="apply-coupon-btn" style="margin: 0px;" value="<?php echo $this->__("Apply"); ?>" />
</div>

<div class="control-group" style="margin-top: 10px;">
<label for="payment-country-selector"><?php echo $this->__("Billing country"); ?>:</label>
<select id="payment-country-selector" name="payment-country-selector">
<?php
    $countries = Mage::getModel('directory/country')->getCollection();

    foreach ($countries as $country)
    {
        echo "<option value=\"" . $country->getId() . "\"" . (($country->getId() == @$_COOKIE["user_country"]) ? " selected=\"selected\"" : "") . ">" . $country->getName() . "</option>\n";
    }
?>
</select>
</div>

<div class="alert"><?php echo $this->__("Price is a subject for European Value Added Tax (VAT). If you live outside of EU, you won't have to pay VAT. If you do live in EU, we will automatically calculate correct amount of VAT based on your billing country."); ?></div>

<div style="border-top: 1px solid gray; margin-top: 20px; padding-top: 15px;">
 <span style="float: right; font-size: 25px;"><?php echo $this->getChildHtml('addtocart'); ?></span>
 <span style="font-size: 25px;"><?php echo $this->__("Total:"); ?></span>
</div>

</div>                  <?php /* /span5 */ ?>
<div class="span5 offset2">     <?php /* span5 */ ?>

 <div style="margin-bottom: 20px;">
  <img src="/img/logo-creditcards.png">
 </div>

 <form method="post" action="">
  <div id="bt-payment-box" style="display: inline-block;"></div>
  <input style="display: none;" type="submit" id="bt-payment-form-button">
 </form>

</div>                  <?php /* /span5 */ ?>
</div>  <?php /* /row */ ?>
</div>  <?php /* /inner */ ?>

 <div class="footer">
  <div style="float: right; margin-bottom: 10px;">
    <?php if (!array_key_exists("current_price", $GLOBALS) || ((double) $GLOBALS["current_price"] > 0)) { ?>
      <button class="btn btn-success btn-large bt-submit-proxy" onclick="javascript:if (!BlockSubmit) {jQuery('#bt-payment-form-button').click();}"><?php echo $this->__("Confirm"); ?></button>
    <?php } ?>
  </div>
  <p><?php echo $this->__("By completing purchase, I agree with Eliademy  <a href=\"/terms\" target=\"_blank\">Terms of Use</a> and <a href=\"/privacy\" target=\"_blank\">Privacy Policy</a>. You will be billed immediately."); ?></p>
  <div style="clear: both;"></div>
 </div>
</div>

<?php /* -- end Payment box ------------------------- */ ?>

<?php } else if ($attributeSetName == "SUPERLICENCE") /* super licence product (unlimited users!) */ { ?>

<script type="text/javascript">
 var LicencePage = true;
</script>
<div style="margin: 20px auto; width: 80%; padding: 18px 24px;">
<h1 class="panel-head" style="text-align: center;"><?php echo $this->__("Pricing made simple"); ?></h1>

<div class="hbox" style="margin: 20px 0px;">
<div style="text-align: center; width: 50%;">
 <div style="font-size: 91px; line-height: 100px;">&euro;<?php echo round($_product->getPrice(), 2); ?></div>
 <div style="color: #666;"><?php echo $this->__("Unlimited licences during first year"); ?></div>
</div>
<div style="width: 50%; line-height: 28px;">
  <div><i class="fa fa-check" style="color: green;"></i>&nbsp;&nbsp;<?php echo $this->__("Webinars and live tutoring"); ?></div>
  <div><i class="fa fa-check" style="color: green;"></i>&nbsp;&nbsp;<?php echo $this->__("Advanced learning analytics and reporting"); ?></div>
  <div><i class="fa fa-check" style="color: green;"></i>&nbsp;&nbsp;<?php echo $this->__("Mass messaging for course participants"); ?></div>
  <div><i class="fa fa-check" style="color: green;"></i>&nbsp;&nbsp;<?php echo $this->__("Your own course catalog with branding"); ?></div>
  <div><i class="fa fa-check" style="color: green;"></i>&nbsp;&nbsp;<?php echo $this->__("Mass enrollments and group management"); ?></div>
  <div><i class="fa fa-check" style="color: green;"></i>&nbsp;&nbsp;<?php echo $this->__("Integration with Google Apps for Business"); ?></div>
  <div><i class="fa fa-check" style="color: green;"></i>&nbsp;&nbsp;<?php echo $this->__("Priority support and help desk"); ?></div>
</div>
</div>

<div style="text-align: center;"><?php echo $this->__("Price is VAT exclusive. For customers in the EU, a 24% Finland VAT will be added."); ?></div>
</div>

<div class="panel"><div class="inner">

<h2 class="panel-head"><?php echo $this->__("Secure Payment Confirmation"); ?></h2>

<div style="text-align: center; margin-bottom: 20px;">
 <div class="btn-group">
  <button class="btn active"><?php echo $this->__("Debit/Credit Card or PayPal"); ?></button>
  <button class="btn disabled"><?php echo $this->__("Skrill"); ?></button>
  <button class="btn disabled"><?php echo $this->__("Robokassa"); ?></button>
 </div>
</div>

<div class="row-fluid">     <?php /* row */ ?>
<div class="span5">     <?php /* span5 */ ?>

<div>
 <label><?php echo $this->__("Organization:"); ?></label>
 <input type="text" class="input-medium" readonly="readonly" id="org_name_field">
</div>

<div>
 <?php echo $this->__("Users:"); ?> <span><?php echo $this->__("Unlimited"); ?></span>
</div>

<div style="margin-top: 10px;">
 <?php echo $this->__("Valid until:"); ?> <span><?php echo date("d.m.Y", time() + 31536000); ?></span> (<?php echo $this->__("365 days"); ?>)
</div>

<div id="apply-coupon-controls" style="margin-top: 10px;">
  <label for="inputCoupon"><?php echo $this->__("Discount coupon"); ?>:</label>
  <input type="text" name="coupon" id="inputCoupon" style="margin: 0px;" placeholder="<?php echo $this->__("Enter coupon code"); ?>" value="<?php echo(@$_GET["coupon"]); ?>">
  <input type="button" class="btn btn-success" id="apply-coupon-btn" style="margin: 0px;" value="<?php echo $this->__("Apply"); ?>" />
</div>

<div style="margin-top: 10px;">
<label for="payment-country-selector"><?php echo $this->__("Billing country"); ?>:</label>
<select id="payment-country-selector" name="payment-country-selector">
<?php
    $countries = Mage::getModel('directory/country')->getCollection();

    foreach ($countries as $country)
    {
        echo "<option value=\"" . $country->getId() . "\"" . (($country->getId() == @$_COOKIE["user_country"]) ? " selected=\"selected\"" : "") . ">" . $country->getName() . "</option>\n";
    }
?>
</select>
</div>

<div class="alert"><?php echo $this->__("Price is a subject for European Value Added Tax (VAT). If you live outside of EU, you won't have to pay VAT. If you do live in EU, we will automatically calculate correct amount of VAT based on your billing country."); ?></div>

<div style="border-top: 1px solid gray; margin-top: 20px; padding-top: 15px;">
 <span style="float: right; font-size: 25px;"><?php echo $this->getChildHtml('addtocart'); ?></span>
 <span style="font-size: 25px;"><?php echo $this->__("Total:"); ?></span>
</div>

</div>                  <?php /* /span5 */ ?>
<div class="span5 offset2">     <?php /* span5 */ ?>

 <div style="margin-bottom: 20px;">
  <img src="/img/logo-creditcards.png">
 </div>

<form method="post" action="">
   <div id="bt-payment-box"></div>
   <input style="display: none;" type="submit" id="bt-payment-form-button">
</form>

</div>                  <?php /* /span5 */ ?>
</div>  <?php /* /row */ ?>
</div>  <?php /* /inner */ ?>

 <div class="footer">
  <div style="float: right; margin-bottom: 10px;">
    <?php if (!array_key_exists("current_price", $GLOBALS) || ((double) $GLOBALS["current_price"] > 0)) { ?>
      <button class="btn btn-success btn-large bt-submit-proxy" onclick="javascript:if (!BlockSubmit) {jQuery('#bt-payment-form-button').click();}"><?php echo $this->__("Confirm"); ?></button>
    <?php } ?>
  </div>
  <p><?php echo $this->__("By completing purchase, I agree with Eliademy  <a href=\"/terms\" target=\"_blank\">Terms of Use</a> and <a href=\"/privacy\" target=\"_blank\">Privacy Policy</a>. You will be billed immediately."); ?></p>
  <div style="clear: both;"></div>
 </div>
</div>

<?php /* -- end Payment box ------------------------- */ ?>

<?php } else /* Course product... */ { ?>

<div class="product-view" itemscope itemtype="http://data-vocabulary.org/Product">
    <div class="product-essential">

        <div class="product-shop">
<div class="product-name panel" style="padding: 6px; margin-bottom: 20px;"> <!-- Panel 1 -->

<div class="row-fluid">
 <div class="span8" style="width: 73%;">
   <div style="position: relative; margin-bottom: 10px; height: 170px; background: url('<?php
    $productImg = "";
    $productImgShare = "";

    if (file_exists(HOMEPAGE_DIR . "/extimg/" . $_product->getSku() . "_course_background.jpg"))
    {
        $productImg = HOMEPAGE_ROOT . "extimg/" . $_product->getSku() . "_course_background.jpg";
    }
    else if ($_product->getCourseBackground() != "no_selection")
    {
        $productImg = $_product->getMediaGalleryImages()->getItemByColumnValue('label', 'background')->getUrl();
    }
    else
    {
        $productImg = $this->getSkinUrl("img/default-course-bgr.jpg");
    }
    if (file_exists(HOMEPAGE_DIR . "/extimg/" . $_product->getSku() . "_course_backgroundtn.jpg"))
    {
        $productImgShare = HOMEPAGE_ROOT . "extimg/" . $_product->getSku() . "_course_backgroundtn.jpg";
    } else {
        $productImgShare = $productImg;
    }

    echo $productImg;

   ?>') no-repeat 50% 50%;">
 <?php if ($_product->getData("course_completed")) { ?>
 <div class="label label-warning" style="position: absolute; top: 145px; right: 5px;"><?php echo $this->__("Completed"); ?></div>
 <?php } ?>
<?php if ((int) $_product->getData("course_cert")) { ?>
 <div style="position: absolute; top: 10px; right: 10px;"><i class="fa fa-certificate" style="font-size: 26px; color: #4189DD;"></i></div>
<?php } ?>
   </div>
   <meta property="og:image" content="<?php echo $productImgShare ?>" />
   <a name="payment" style="display: none;"></a>
   <h1 class="panel-head" style="padding: 11px 0px 16px 5px;" itemprop="name"><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></h1>
 </div>

 <div class="span4 course-details" style="width: 27%; margin-left: 0px;">
  <div class="logo">
    <?php if ($_product->getCourseLogo() != "no_selection"): ?>
    <img src="<?php echo $this->helper('catalog/image')->init($_product, 'course_logo'); ?>" alt="">
    <?php elseif (file_exists(HOMEPAGE_DIR . "/extimg/" . $_product->getSku() . "_course_logo.jpg")): ?>
    <img src="<?php echo HOMEPAGE_ROOT . "extimg/" . $_product->getSku() . "_course_logo.jpg"; ?>" class="product" alt="">
    <?php else: ?>
    <img src="<?php echo $this->getSkinUrl("img/logo-course-title.png"); ?>" class="product" alt="">
    <?php endif; ?>
  </div>

  <div class="teacher">
  <?php if ($_product->getData("teacher_id")) { ?><a href="<?php echo HOMEPAGE_ROOT . "users/" . $_product->getData("teacher_id") . ".html" ?>"><?php } ?>
  <?php if (file_exists(HOMEPAGE_DIR . "/app/public_images/user_picture/" . $_product->getData("teacher_pichash") . "_32.jpg")) { ?>
   <img src="<?php echo HOMEPAGE_ROOT . "app/public_images/user_picture/" . $_product->getData("teacher_pichash") . "_32.jpg"; ?>" alt="">
  <?php } else { ?>
   <img src="<?php echo HOMEPAGE_ROOT . "app/public_images/user_picture/default_32.jpg" ?>" alt="">
  <?php } ?>
   <div class="author_name">
    <div><?php echo $_product->getData("teacher"); ?></div>
    <div style="font-weight: normal;"><?php echo (!$_product->getData("teacher_title")) ? "&nbsp;" : $_product->getData("teacher_title"); ?></div>
   </div>
   <div style="background: transparent url('<?php echo $this->getSkinUrl("img/grad1.png"); ?>') repeat-y; height: 60px; margin-top: -60px; width: 24px; position: relative; z-index: 100; float: right;"></div>
  <?php if ($_product->getData("teacher_id")) { ?></a><?php } ?>
  </div>

  <div class="participants" style="position: relative; margin-top: -7px;">
    <span style="position: absolute; left: 10px;"><i class="fa fa-users"></i>&nbsp;&nbsp;<?php echo $_product->getData("participants"); ?></span>

    <?php
    $name = $_product->getName();
    $url = Mage::helper('core/url')->getCurrentUrl();
    $message = str_replace("%s", $name, $this->__("I am enjoying course %s via @Eliademy. You should try it too."));
    ?>
    <div class="dropdown pull-right">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="text-decoration: none; color: rgb(71, 143, 225); position: relative; top: 3px; left: -5px;"><i class="fa fa-share-alt" style="font-size: 16px;"></i></a>
      <ul class="dropdown-menu pull-left" role="menu" aria-labelledby="dLabel" style="font-size: 14px;">
        <li><a href="https://www.facebook.com/dialog/feed?display=page&app_id=485673934801504&name=<?php echo urlencode($name) ?>&link=<?php echo urlencode($url) ?>&picture=<?php echo urlencode($productImgShare) ?>&redirect_uri=<?php echo urlencode("https://facebook.com") ?>" target="_blank"><i class="fa fa-facebook" style="width: 20px; display: inline-block; text-align: center;"></i><?php echo $this->__("Share on Facebook") ?></a></li>
        <li><a href="https://plus.google.com/share?url=<?php echo urlencode($url) ?>" target="_blank"><i class="fa fa-google-plus" style="width: 20px; display: inline-block; text-align: center;"></i><?php echo $this->__("Share on Google+") ?></a></li>
        <li><a href="https://twitter.com/intent/tweet?url=<?php echo urlencode($url) ?>&text=<?php echo urlencode($message) ?>" target="_blank"><i class="fa fa-twitter" style="width: 20px; display: inline-block; text-align: center;"></i><?php echo $this->__("Share on Twitter") ?></a></li>
        <li><a href="http://www.linkedin.com/shareArticle?mini=true&title=<?php echo urlencode($name) ?>&url=<?php echo urlencode($url) ?>" target="_blank"><i class="fa fa-linkedin" style="width: 20px; display: inline-block; text-align: center;"></i><?php echo $this->__("Share on Linkedin") ?></a></li>
        <li><a href="mailto:?subject=<?php echo urlencode($name) ?>&body=<?php echo urlencode($message . "\n\n" . $url) ?>"><i class="fa fa-envelope-o" style="width: 20px; display: inline-block; text-align: center;"></i><?php echo $this->__("Share by email") ?></a></li>
        <li><a href="#" onclick="addthis_sendto('more');return false;"><i class="fa fa-share-alt" style="width: 20px; display: inline-block; text-align: center;"></i><?php echo $this->__("Other service") ?></a></li>
      </ul>
    </div>

<?php
    $rcount = ($summaryData["reviews_count"]) ? $summaryData["reviews_count"] : 0;
    if ($summaryData["rating_summary"])
    {
        echo "<div itemprop=\"review\" itemscope itemtype=\"http://data-vocabulary.org/Review-aggregate\" style=\"text-align: center;\">";
        $stars = (int) ($summaryData["rating_summary"] / 20);

        for ($i=0; $i<$stars; $i++)
        {
            echo "<i class=\"fa fa-star\" style=\"color: gold\"></i>\n";
        }

        for ($i=$stars; $i<5; $i++)
        {
            echo "<i class=\"fa fa-star-o\" style=\"color: gold\"></i>\n";
        }
        echo "<meta property=\"ratingValue\" content=\"" . $stars . "\">";
        echo "<meta itemprop=\"rating\" content=\"" . $stars . "\">";
        echo "<meta itemprop=\"count\" content=\"" . $rcount . "\">";
        echo "</div>";
    }
    else
    {
    ?>
    <div style="text-align: center;">
     <i class="fa fa-star-o" style="color: gold;"></i>
     <i class="fa fa-star-o" style="color: gold;"></i>
     <i class="fa fa-star-o" style="color: gold;"></i>
     <i class="fa fa-star-o" style="color: gold;"></i>
     <i class="fa fa-star-o" style="color: gold;"></i>
    </div>
    <?php
    }
?>
 <div style="clear: both;"></div>
  </div>

  <div style="text-align: center; padding: 15px 0px;" itemprop="offerDetails" itemscope itemtype="http://data-vocabulary.org/Offer"><?php echo $this->getChildHtml('addtocart') ?></div>
 </div>

</div>
</div> <!-- /Panel 1 -->

<?php if (((double) $_product->getPrice()) > 0.0) { ?>

<div class="payment-item hide panel">
 <div class="inner">

   <h2 class="panel-head"><?php echo $this->__("Secure Payment Confirmation"); ?></h2>

<div style="text-align: center; margin-bottom: 20px;">
 <div class="btn-group">
  <button class="btn active"><?php echo $this->__("Debit/Credit Card or PayPal"); ?></button>
  <button class="btn disabled"><?php echo $this->__("Skrill"); ?></button>
  <button class="btn disabled"><?php echo $this->__("Robokassa"); ?></button>
 </div>
</div>

<div class="row-fluid">   <!-- row -->

<div class="span5">  <!-- span5 -->

 <div id="apply-coupon-controls">
    <label for="inputCoupon"><?php echo $this->__("Discount coupon"); ?>:</label>
    <input type="text" name="coupon" id="inputCoupon" style="margin: 0px;" placeholder="Enter coupon code" value="<?php echo(@$_GET["coupon"]); ?>">
    <input type="button" class="btn btn-success" id="apply-coupon-btn" style="margin: 0px;" value="<?php echo $this->__("Apply"); ?>" />
 </div>

 <div class="control-group" style="margin-top: 10px;">
    <label class="control-label" for="payment-country-selector"><?php echo $this->__("Billing country"); ?>:</label>
     <select id="payment-country-selector" name="payment-country-selector">
<?php
    $countries = Mage::getModel('directory/country')->getCollection();

    foreach ($countries as $country)
    {
        echo "<option value=\"" . $country->getId() . "\"" . (($country->getId() == @$_COOKIE["user_country"]) ? " selected=\"selected\"" : "") . ">" . $country->getName() . "</option>\n";
    }
?>
     </select>
 </div>

<div class="alert"><?php echo $this->__("Price is a subject for European Value Added Tax (VAT). If you live outside of EU, you won't have to pay VAT. If you do live in EU, we will automatically calculate correct amount of VAT based on your billing country."); ?></div>

<div style="border-top: 1px solid gray; margin-top: 20px; padding-top: 15px;">
 <span style="float: right;"><?php echo $this->getChildHtml('addtocart'); ?></span>
 <span style="font-size: 25px;"><?php echo $this->__("Total:"); ?></span>
</div>

</div>  <!-- /span5 -->
<div class="span5 offset2">
 <div style="margin-bottom: 20px;">
  <img src="/img/logo-creditcards.png">
 </div>

 <form method="post" action="">
    <div id="bt-payment-box" style="display: inline-block;"></div>
    <input type="submit" style="display: none;" id="bt-payment-form-button">
 </form>

</div>  <!-- /span5 -->
</div>  <!-- /row -->

<div id="confirm-purchase-<?php echo $_product->getSku(); ?>" style="padding: 20px; text-align: center;" class="hide">
 <a href="<?php echo MOODLE_ROOT . "/theme/monorail/complete_purchase.php?course=" . $_product->getSku(); ?>" class="btn btn-success"><?php echo $this->__("Enroll to course"); ?></a>
</div>

 </div>
 <div class="footer">
    <div style="float: right; margin-bottom: 10px;">
    <?php if (!array_key_exists("current_price", $GLOBALS) || ((double) $GLOBALS["current_price"] > 0)) { ?>
      <button class="btn btn-success btn-large bt-submit-proxy" onclick="javascript:if (!BlockSubmit) {jQuery('#bt-payment-form-button').click();}"><?php echo $this->__("Confirm"); ?></button>
    <?php } ?>
    </div>
    <p><?php echo $this->__("By completing purchase, I agree with Eliademy  <a href=\"/terms\" target=\"_blank\">Terms of Use</a> and <a href=\"/privacy\" target=\"_blank\">Privacy Policy</a>."); ?></p>
    <div style="clear: both;"></div>
 </div>

</div>
<div class="payment-item hide"></div>

<div class="payment-item hide panel" style="margin-top: 20px;"><div class="inner">
 <h2 class="panel-head"><?php echo $this->__("Questions"); ?></h2>
 <div class="row-fluid">
    <div class="span3">
     <h4><?php echo $this->__("For how long can I access this course?"); ?></h4>
     <p><?php echo $this->__("You need to pay for the course only once in order to get full access. We  guarantee you will have access to all course content for at least 1 year from purchase date, in most cases you will have access indefinitely."); ?></p>
    </div>
    <div class="span3">
     <h4><?php echo $this->__("From what devices I can access course materials?"); ?></h4>
     <p><?php echo $this->__("You can access course materials from a Laptop, iPhone, iPad, Android, Windows Phone and virtually any device with modern Internet browser. Live tutoring  is limited to PC, Mac and Linux only at the moment."); ?></p>
    </div>
    <div class="span3">
     <h4><?php echo $this->__("Can I get my money back?"); ?></h4>
     <p><?php echo $this->__("If you purchased the course and for some reasons are not satisfied with it, please contact us at <a href=\"mailto:support@eliademy.com\">support@eliademy.com</a> and we will resolve the problem."); ?></p>
    </div>
    <div class="span3">
     <h4><?php echo $this->__("How sales tax is calculated?"); ?></h4>
     <p><?php echo $this->__("Price is a subject for European Value Added Tax (VAT). If you live outside of EU, you won't have to pay VAT. If you do live in EU, we will automatically calculate correct amount of VAT based on your billing country."); ?></p>
    </div>
 </div>
</div></div>

<?php } ?>

            <?php /*
            <?php echo $this->getChildHtml('alert_urls') ?>

            <?php echo $this->getChildHtml('product_type_data') ?>

            <?php echo $this->getTierPriceHtml() ?>

            <?php echo $this->getChildHtml('extrahint') ?>

            <?php echo $this->getChildHtml('other');?>

            <?php if ($_product->isSaleable() && $this->hasOptions()):?>
                <?php echo $this->getChildChildHtml('container1', '', true, true) ?>
            <?php endif;?>
            */ ?>

        </div>

        <div class="clearer"></div>
        <?php if ($_product->isSaleable() && $this->hasOptions()):?>
            <?php echo $this->getChildChildHtml('container2', '', true, true) ?>
        <?php endif;?>
    </div>

    <div class="product-collateral non-payment-item">

<?php foreach ($this->getChildGroup('detailed_info', 'getChildHtml') as $alias => $html):?>
<?php $topics = @json_decode($_product->getData("topic_list")); ?>
  <div class="row-fluid">
    <span class="span3">    <?php /* span3 */ ?>
<div class="panel">               <div class="inner">
          <h2 class="panel-head">Currency</h2>
<?php echo $this->getLayout()->createBlock('directory/currency')->setTemplate('directory/currency.phtml')->toHtml(); ?>

        <div style="text-align: center;">
		
		</div>
		</div>
		</div?
      <div class="panel">       <?php /* panel */ ?>
        <div class="inner">
          <h2 class="panel-head"><?php echo $this->__("Instructor") ?></h2>

        <div style="text-align: center;">
   <?php if (file_exists(HOMEPAGE_DIR . "/app/public_images/user_picture/" . $_product->getData("teacher_pichash") . "_185.jpg")) { ?>
        <img class="img-circle img-polaroid" src="<?php echo HOMEPAGE_ROOT . "app/public_images/user_picture/" . $_product->getData("teacher_pichash") . "_185.jpg"; ?>" style="width:120px" alt="">
   <?php } else { ?>
        <img class="img-circle img-polaroid" src="<?php echo HOMEPAGE_ROOT . "app/public_images/user_picture/default_185.jpg" ?>" style="width:120px" alt="">
   <?php } ?>
        </div>

   <h4><?php echo $_product->getData("teacher"); ?></h4>
   <?php if ($_product->getData("teacher_title")) { ?><h4><?php echo $_product->getData("teacher_title"); ?></h4><?php } ?>

<?php

    $soclinks = json_decode($_product->getData("teacher_social_links"));

if (is_array($soclinks) && !empty($soclinks)) { ?>
    <div class="well">
<?php

    foreach ($soclinks as $sl)
    {
        echo "<a href=\"" . $sl->link . "\" class=\"btn btn-" . $sl->type . "\" target=\"_blank\"><i class=\"fa fa-" . $sl->type . "\"></i></a>\n";
    }

?>
    </div>
<?php } ?>

    <div style="text-align: justify; margin: 10px 0px;"><?php echo $_product->getData("teacher_bio"); ?></div>

  <?php if ($_product->getData("teacher_id")) { ?>
  <div style="text-align: center;" class="pagination">
   <ul><li>
    <a href="<?php echo HOMEPAGE_ROOT . "users/" . $_product->getData("teacher_id") . ".html" ?>"><?php echo $this->__("Read more"); ?> <i class="fa fa-long-arrow-right"></i></a>
   </li></ul>
  </div>
  <?php } ?>

        </div>
      </div>                    <?php /* /panel */ ?>

      <div class="panel" style="margin-top: 20px;">       <?php /* panel */ ?>
        <div class="inner">
<?php

    $reviews = Mage::getModel('review/review')
        ->getResourceCollection()
        ->addEntityFilter('product', $_product->getId())
        ->addStatusFilter(Mage_Review_Model_Review::STATUS_APPROVED)
        ->setDateOrder()
        ->addRateVotes();

    if (count($reviews) < 1)
    { ?>
<h2 class="panel-head"><?php echo $this->__("Reviews") ?></h2>
<h4 style="text-align: center;"><?php echo $this->__("Course reviews will be shown here"); ?></h4>
<?php }
    else
    { ?>
<h2 class="panel-head"><?php echo $this->__("Reviews") . " (" . count($reviews) . ")" ?></h2>
<?php
        if (@MOODLE_DB_HOST)
        {
            try
            {
                $mdb = new PDO("mysql:dbname=" . MOODLE_DB_NAME . ";host=" . MOODLE_DB_HOST, MOODLE_DB_USER, MOODLE_DB_PASSWORD);
            }
            catch (Exception $e)
            {
                $mdb = null;
            }
        }
        else
        {
            $mdb = null;
        }

        $counter = 0;

        foreach ($reviews as $_review) { ?>
                <div style="background: #F8F8F8; margin-left: 15px;">
                  <?php
                    $userImage = null;

                    if ($mdb && is_numeric($_review->getTitle()))
                    {
                        $mdbst = $mdb->prepare("SELECT value FROM mdl_monorail_data WHERE type='user' AND datakey='pichash' AND itemid=?");
                        $mdbst->bindValue(1, $_review->getTitle());

                        if ($mdbst->execute())
                        {
                            $userImage = $mdbst->fetchColumn();

                            if ($userImage)
                            {
                                $userImage = MOODLE_ROOT . "public_images/user_picture/" . $userImage . "_32.jpg";
                            }
                        }
                    }

                    if (!$userImage)
                    {
                        $userImage = $this->getSkinUrl("img/default_32.jpg");
                    }
                  ?>
                  <img src="<?php echo $userImage ?>" alt="" style="width: 31px; height: 31px; border-radius: 15px; margin-left: -15px;">

                  <span style="line-height: 31px; margin-left: 5px;">
                  <?php
                    if (is_numeric($_review->getTitle()) && file_exists(HOMEPAGE_DIR . "/users/" . $_review->getTitle() . ".html"))
                    {
                        echo "<a href=\"" . HOMEPAGE_ROOT . "users/" . $_review->getTitle() . ".html\">" . $this->escapeHtml($_review->getNickname()) . "</a>";
                    }
                    else
                    {
                        echo $this->escapeHtml($_review->getNickname());
                    }
                  ?>
                  </span>
                </div>

              <?php $_votes = $_review->getRatingVotes(); ?>
              <?php if (count($_votes)) { ?>
              <div style="line-height: 30px; text-align: center;">
                <?php
                    $stars = (int) ($_votes->getFirstItem()->getPercent() / 20);

                    for ($i=0; $i<$stars; $i++)
                    {
                        echo "<i class=\"fa fa-star\" style=\"color: gold;\"></i>\n";
                    }

                    for ($i=$stars; $i<5; $i++)
                    {
                        echo "<i class=\"fa fa-star-o\" style=\"color: gold;\"></i>\n";
                    }
                ?>
              </div>
              <?php } ?>

                <div style="margin: 0px 0px 20px 0px;">

    <?php if ($_review->getTitle() != $_review->getNickname() && !is_numeric($_review->getTitle())) { ?>
                 <h4><?php echo $this->escapeHtml($_review->getTitle()) ?></h4>
    <?php } ?>

                 <?php echo nl2br($this->escapeHtml($_review->getDetail())) ?>
                </div>

        <?php

            if (++$counter >= 4)
            {
                break;
            }

        } /* /for each item */

    ?>
      <div style="text-align: center;" class="pagination">
       <ul><li>
        <a href="<?php echo $this->getUrl("review/product/list/id/" . $_product->getId() . "/"); ?>"><?php echo $this->__("Read more"); ?> <i class="fa fa-long-arrow-right"></i></a>
       </li></ul>
      </div>

    <?php } ?>

        </div>
      </div>                    <?php /* /panel */ ?>

    </span>     <?php /* /span3 */ ?>

    <span class="span9">        <?php /* span9 */ ?>
        <div class="box-collateral panel <?php echo "box-{$alias}"?>">
          <div class="inner" data-content="overview">
            <?php if ($title = $this->getChildData($alias, 'title')):?>
            <h2><?php echo $this->escapeHtml($title); ?></h2>
            <?php endif;?>
            <?php echo $html; ?>
            <div style="clear: both;"></div>

          </div>

            <div class="footer">
<?php if ($_product->getData("course_licence")) { ?>
		<a rel="license" href="http://creativecommons.org/licenses/by/4.0/" target="_blank"><img alt="Creative Commons" style="border-width:0; float: left; margin: 5px 10px 0px 0px;" src="https://i.creativecommons.org/l/by/4.0/88x31.png" /></a>
<?php if ($_product->getData("course_derivedfrom_code")) { ?>
        <div><?php echo str_replace("%COURSE", "<a href=\"/" . $_product->getData("course_derivedfrom_code") . "\">" . $_product->getData("course_derivedfrom_name") . "</a>", $this->__("This course is a derivative work based on %COURSE, licensed under under Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License.")); ?></div>
<?php } else { ?>
        <div><?php echo $this->__("Content of this course is licensed under Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License. Content may be reused with or without modifications by any instructor."); ?></div>
<?php } ?>
        <div style="clear: both;"></div>
<?php } else {
        echo $this->__("@ Copyright " . $_product->getData("teacher") . ". All rights reserved.");
} ?>
            </div>

<?php if (!empty($topics)): ?>
          <div class="inner" data-content="topic" style="display: none;">
            <h3 style="text-align: center; color: #478FE1; margin-top:100px; margin-bottom: 100px"><?php echo $this->__("Please enrol to see all lectures, tasks and discussions."); ?></h3>
          </div>
<?php endif; ?>
        </div>


<?php if (!$_product->getData("invitations_only")) { ?>

    <?php if (!empty($topics)) { $idx = 1; $half = ceil(count($topics) / 2); ?>

    <div class="panel" style="margin-top: 20px;">
    <div class="inner">
    <h2 class="panel-head"><?php echo $this->__("Course content"); ?></h2>
    <div class="row-fluid">
        <div class="span6">
        <ul>
        <?php foreach ($topics as $top) { ?>
            <li><h4 style="font-size: 16px;"><?php echo $top; ?></h4></li>
        <?php if ($idx++ == $half) { ?>
        </ul>
        </div><div class="span6">
        <ul>
        <?php } } ?>
        </ul>
        </div>
    </div>
    </div>
    </div>

    <?php } ?>

    <div style="margin: 20px 0px;">
        <span style="float: right;">
        <?php echo $this->getChildHtml('addtocart'); ?>
        </span>
        <h2 style="color: rgb(71, 143, 225);"><?php echo $this->__("Interested? Enroll to this course right now."); ?></h2>
    </div>

<?php } else { ?>

    <div class="panel" style="margin-top: 20px;">
    <div class="inner">
        <h2 class="panel-head"><?php echo $this->__("Course content"); ?></h2>
        <h4 style="float: right; text-align: center; width: 200px; display: inline-block; color: rgb(71, 143, 225);">
         <i class="fa fa-lock" style="font-size: 64px;"></i><br><?php echo $this->__("Request invitation"); ?>
        </h4>
        <h4 style="font-size: 22px; line-height: 30px;"><?php echo $this->__("Content of this course is available by invitation only. You can not access this course if you don't have an invitation from the course instructor."); ?></h4>
        <div style="clear: both;"></div>
    </div>
    </div>

    <div style="margin: 20px 0px;">
        <span style="float: right;"><a class="btn btn-large btn-success" href="/app/a/courses/wizard"><?php echo $this->__("Get Started"); ?></a></span>
        <h2 style="color: rgb(71, 143, 225);"><?php echo $this->__("Interested? Start your first course right now."); ?></h2>
    </div>

<?php } ?>


    </span>              <?php /* /span9 */ ?>
  </div>
<?php endforeach;?>

        <?php echo $this->getChildHtml('upsell_products') ?>
        <?php echo $this->getChildHtml('product_additional_data') ?>

<?php
    $categoryIds = $_product->getCategoryIds();
    $category = null;

    // Get first active category this product belongs to.
    foreach ($categoryIds as $cid)
    {
        $cat_ = new Mage_Catalog_Model_Category();
        $cat_->load($cid);

        if ($cat_->getIsActive())
        {
            $category = $cat_;
            break;
        }
    }

    // If there is such a category, show its' most popular courses.
    if ($category)
    {
?>
<div class="pagination pull-right" style="position: relative; top: 5px;">
 <ul><li><a href="<?php echo $category->getUrl(); ?>"><?php echo $this->__("Browse this category"); ?> <i class="fa fa-long-arrow-right"></i></a></li></ul>
</div>
<h2 class="panel-head" style="margin-top: 20px;"><?php echo $this->__("There is more to learn") ?></h2>
<div class="catalog-4cols">
<?php
        $collection = $category->getProductCollection();
        $collection->addAttributeToSelect('*');

        $collection->setOrder('participants', 'DESC');
        $collection->getSelect()->reset(Zend_Db_Select::ORDER);
        $collection->getSelect()->order('CAST(`participants` AS SIGNED) DESC');
        $collection->getSelect()->limit(4);

        foreach ($collection as $prod)
        { ?>

<div class="catalog-card" style="float: left; vertical-align: top;">
<a href="<?php echo $prod->getProductUrl(); ?>" title="<?php echo $prod->getName(); ?>" style="text-decoration: none; color: currentcolor;">

<div class="catalog-card-image" style="position: relative;">
 <?php if ($prod->getData("course_completed")) { ?>
 <div class="label label-warning" style="position: absolute; top: 125px; right: 5px;"><?php echo $this->__("Completed"); ?></div>
 <?php } ?>
 <?php if (file_exists(HOMEPAGE_DIR . "/extimg/" . $prod->getSku() . "_course_backgroundtn.jpg")) { ?>
 <img src="<?php echo HOMEPAGE_ROOT . "extimg/" . $prod->getSku() . "_course_backgroundtn.jpg"; ?>" alt="<?php echo $prod->getName(); ?>">
 <?php } elseif (file_exists(HOMEPAGE_DIR . "/extimg/" . $prod->getSku() . "_course_background.jpg")) { ?>
 <img style="margin-left: -250px;" src="<?php echo HOMEPAGE_ROOT . "extimg/" . $prod->getSku() . "_course_background.jpg"; ?>" alt="<?php echo $prod->getName(); ?>">
 <?php } elseif ($prod->getCourseBackground() != "no_selection") { try { ?>
 <img style="margin-left: -250px;" src="<?php echo $this->helper('catalog/image')->init($prod, 'course_background')->setQuality(95); ?>" alt="<?php echo $prod->getName(); ?>">
 <?php } catch (Exception $ex) { ?>
 <img style="margin-left: -250px;" src="<?php echo $this->getSkinUrl("img/default-course-bgr.jpg"); ?>" alt="<?php echo $prod->getName(); ?>">
 <?php } } else { ?>
 <img style="margin-left: -250px;" src="<?php echo $this->getSkinUrl("img/default-course-bgr.jpg"); ?>" alt="<?php echo $prod->getName(); ?>">
 <?php } ?>
</div>

<div class="catalog-card-name<?php if (strlen($prod->getName()) > 40) echo(" longtext"); ?>">
 <?php echo $prod->getName(); ?>
</div>

<div class="catalog-vertical-fade"></div>

<div class="catalog-card-teacher">
<table>
<tr>
<td rowspan="2" style="min-width: 47px;">
<?php if ($prod->getTeacherAvatar() != "no_selection") { try { ?>
 <img src="<?php echo $this->helper('catalog/image')->init($prod, 'teacher_avatar'); ?>" alt="<?php echo $prod->getData("teacher"); ?>">
<?php } catch (Exception $ex) { ?>
 <img src="<?php echo $this->getSkinUrl("img/default_32.jpg"); ?>" alt="<?php echo $prod->getData("teacher"); ?>">
<?php } } elseif (file_exists(HOMEPAGE_DIR . "/extimg/" . $prod->getSku() . "_course_teacher.jpg")) { ?>
 <img src="<?php echo HOMEPAGE_ROOT . "extimg/" . $prod->getSku() . "_course_teacher.jpg"; ?>" alt="<?php echo $prod->getData("teacher"); ?>">
<?php } else { ?>
 <img src="<?php echo $this->getSkinUrl("img/default_32.jpg"); ?>" alt="<?php echo $prod->getData("teacher"); ?>">
<?php } ?>
</td>
<td><?php echo $prod->getData("teacher"); ?></td>
</tr>
<tr><td><?php echo (!$prod->getData("teacher_title")) ? "&nbsp;" : $prod->getData("teacher_title"); ?></td></tr>
</table>
</div>

<div class="catalog-card-status">
<table style="width: 100%;">
<tr>
 <td style="width: 25%;"><i class="fa fa-users"></i>&nbsp;<?php echo $prod->getData("participants"); ?></td>
 <td style="width: 50%; text-align: center;">
<?php
    $prodSummaryData = Mage::getModel('review/review_summary')->load($prod->getId());

    if ($prodSummaryData["rating_summary"])
    {
        $stars = (int) ($prodSummaryData["rating_summary"] / 20);

        for ($i=0; $i<$stars; $i++)
        {
            echo "<i class=\"fa fa-star\" style=\"color: gold\"></i>\n";
        }

        for ($i=$stars; $i<5; $i++)
        {
            echo "<i class=\"fa fa-star-o\" style=\"color: gold\"></i>\n";
        }
    }
    else
    {
?>
        <i class="fa fa-star-o" style="color: gold;"></i>
        <i class="fa fa-star-o" style="color: gold;"></i>
        <i class="fa fa-star-o" style="color: gold;"></i>
        <i class="fa fa-star-o" style="color: gold;"></i>
        <i class="fa fa-star-o" style="color: gold;"></i>
<?php
    }
?>
 </td>
 <td style="width: 25%; text-align: right;"><?php echo ((int) $prod->getPrice()) ? $this->helper('checkout')->formatPrice($prod->getPrice()) : $this->__("Free"); ?></td>
</tr>
</table>
</div>

</a></div>

        <?php }
?>
</div>
<?php
    }
?>

    </div>
</div>
<?php } /* /course product */ ?>

<form action="<?php echo $this->getSubmitUrl($_product) ?>" method="post" id="product_addtocart_form"<?php if($_product->getOptions()): ?> enctype="multipart/form-data"<?php endif; ?>>
    <?php echo $this->getBlockHtml('formkey') ?>
    <div class="no-display">
        <input type="hidden" name="product" value="<?php echo $_product->getId() ?>" />
        <input type="hidden" name="related_product" id="related-products-field" value="" />
        <input type="hidden" name="qty" id="product_quantity_field" value="<?php

    if ($attributeSetName == "LICENCE")
    {
        echo isset($_COOKIE["licence_count"]) ? $_COOKIE["licence_count"] : 10;
    }
    else
    {
        echo "1";
    }

        ?>" />
    </div>
</form>

<script type="text/javascript">
    //<![CDATA[
        var productAddToCartForm = new VarienForm('product_addtocart_form');
        productAddToCartForm.submit = function(button, url) {
            if (this.validator.validate()) {
                var form = this.form;
                var oldUrl = form.action;

                try {
<?php if ($attributeSetName != "LICENCE" && $attributeSetName != "SUPERLICENCE") { if ($_product->getPrice() > 0.0) { ?>
                    ga("send", "enroll-paid");
<?php } else { ?>
                    ga("send", "enroll");
<?php } } ?>
                }
                catch (err) { }

                if (url) {
                   form.action = url;
                }
                var e = null;
                try {
                    this.form.submit();
                } catch (e) {
                }
                this.form.action = oldUrl;
                if (e) {
                    throw e;
                }

                if (button && button != 'undefined') {
                    button.disabled = true;
                }
            }
        }.bind(productAddToCartForm);

        productAddToCartForm.submitLight = function(button, url){
            if(this.validator) {
                var nv = Validation.methods;
                delete Validation.methods['required-entry'];
                delete Validation.methods['validate-one-required'];
                delete Validation.methods['validate-one-required-by-name'];
                // Remove custom datetime validators
                for (var methodName in Validation.methods) {
                    if (methodName.match(/^validate-datetime-.*/i)) {
                        delete Validation.methods[methodName];
                    }
                }

                if (this.validator.validate()) {
                    if (url) {
                        this.form.action = url;
                    }
                    this.form.submit();
                }
                Object.extend(Validation.methods, nv);
            }
        }.bind(productAddToCartForm);
    //]]>
</script>
<script src="https://js.braintreegateway.com/v2/braintree.js"></script>
<script>
    braintree.setup("<?php echo Braintree_ClientToken::generate(); ?>", "dropin", {
        container: "bt-payment-box",
        paymentMethodNonceReceived: function (event, nonce)
        {
            event.preventDefault();

            if (BlockSubmit) {
                return;
            }

            BlockSubmit = true;
            jQuery(".bt-submit-proxy").attr("disabled", "true");

            document.cookie = "bt_nonce=" + nonce + "; path=/; expires=" + (new Date((new Date()).getTime() + 172800000)).toUTCString();
            productAddToCartForm.submit(this);
        }
    });
</script>
