<?php
    if (@$_GET["type"] == "list")
    {
        return;
    }

    $catalogSearchHelper =  $this->helper('catalogsearch');
?>

<form style="float: right; margin-top: -45px;" id="search_mini_form" action="<?php echo $catalogSearchHelper->getResultUrl() ?>" method="get">
    <div class="form-search">
        <div class="input-prepend">
          <span class="add-on"><i class="fa fa-search"></i></span>
          <input id="search" class="input-large" type="text" name="<?php echo $catalogSearchHelper->getQueryParamName() ?>" value="<?php echo $catalogSearchHelper->getEscapedQueryText() ?>" class="input-text" maxlength="<?php echo $catalogSearchHelper->getMaxQueryLength();?>" placeholder="<?php echo $this->__("What would you like to learn?")?>" />
        </div>
    </div>
</form>
