<?php $_items = $this->getReviewsCollection()->getItems();?>
<div class="box-collateral box-reviews" id="customer-reviews">
    <?php if (count($_items)) {?>

    <div class="panel">
      <div class="inner">
        <h2 class="panel-head"><?php echo $this->__('Reviews') ?></h2>
        <?php

        echo $this->getChildHtml('toolbar');

        if (@MOODLE_DB_HOST)
        {
            try
            {
                $mdb = new PDO("mysql:dbname=" . MOODLE_DB_NAME . ";host=" . MOODLE_DB_HOST, MOODLE_DB_USER, MOODLE_DB_PASSWORD);
            }
            catch (Exception $e)
            {
                $mdb = null;
            }
        }
        else
        {
            $mdb = null;
        }


         foreach ($_items as $_review) { ?>
            <div style="background: #F8F8F8; margin-left: 15px;">
              <?php
                $userImage = null;

                if ($mdb && is_numeric($_review->getTitle()))
                {
                    $mdbst = $mdb->prepare("SELECT value FROM mdl_monorail_data WHERE type='user' AND datakey='pichash' AND itemid=?");
                    $mdbst->bindValue(1, $_review->getTitle());

                    if ($mdbst->execute())
                    {
                        $userImage = $mdbst->fetchColumn();

                        if ($userImage)
                        {
                            $userImage = MOODLE_ROOT . "public_images/user_picture/" . $userImage . "_32.jpg";
                        }
                    }
                }

                if (!$userImage)
                {
                    $userImage = $this->getSkinUrl("img/default_32.jpg");
                }
              ?>
              <img src="<?php echo $userImage ?>" alt="" style="width: 31px; height: 31px; border-radius: 15px; margin-left: -15px;">

              <span style="line-height: 31px; margin-left: 5px;">
              <?php
                if (is_numeric($_review->getTitle()) && file_exists(HOMEPAGE_DIR . "/users/" . $_review->getTitle() . ".html"))
                {
                    echo "<a href=\"" . HOMEPAGE_ROOT . "users/" . $_review->getTitle() . ".html\">" . $this->escapeHtml($_review->getNickname()) . "</a>";
                }
                else
                {
                    echo $this->escapeHtml($_review->getNickname());
                }
              ?> | <?php echo $this->formatDate($_review->getCreatedAt()); ?>
              </span>

              <?php $_votes = $_review->getRatingVotes(); ?>
              <?php if (count($_votes)) { ?>
              <span class="pull-right" style="line-height: 30px; margin-right: 10px;">
                <?php
                    $stars = (int) ($_votes->getFirstItem()->getPercent() / 20);

                    for ($i=0; $i<$stars; $i++)
                    {
                        echo "<i class=\"fa fa-star\" style=\"color: gold;\"></i>\n";
                    }

                    for ($i=$stars; $i<5; $i++)
                    {
                        echo "<i class=\"fa fa-star-o\" style=\"color: gold;\"></i>\n";
                    }
                ?>
              </span>
              <?php } ?>
            </div>

            <div style="margin: 5px 0px 20px 0px;">

<?php if ($_review->getTitle() != $_review->getNickname() && !is_numeric($_review->getTitle())) { ?>
             <h4><?php echo $this->escapeHtml($_review->getTitle()) ?></h4>
<?php } ?>

             <?php echo nl2br($this->escapeHtml($_review->getDetail())) ?>
            </div>

        <?php } /* /for each item */

         echo $this->getChildHtml('toolbar');
         ?>
      </div>
    </div>

    <?php } else { ?>
    <div class="panel">
      <div class="inner">
        <h2 class="panel-head"><?php echo $this->__('Reviews') ?></h2>
        <h3 style="text-align: center; color: #478FE1; margin-top:100px; margin-bottom: 100px"><?php echo $this->__("Enrol to leave first review for this course"); ?></h3>
      </div>
    </div>
    <?php } ?>

    <?php echo $this->getChildHtml('review_form') ?>
</div>
