body, html {
	background-color: #F5F5F5;
	height: 100%;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

form {
	margin: 0px;
	padding: 0px;
}

td {
	padding: 0px;
}

#wrapper {
	min-height: 100%;
	padding-bottom: 170px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.cohort-display, .user-display, .hide {
	display: none;
}

/* Sidebar */

#category-nav a { background-color: #FFF; }
#category-nav a:hover, #category-nav .active a { background-color: #F5F5F5; }

.span3 .fixed-sidebar {
	position: fixed;
	z-index: 1;
	width: 220px;
}

@media (min-width: 1200px) { .span3 .fixed-sidebar { width: 270px; } }

/* Course details */

.panel {
	background-color: #FFF;
	padding: 0px;
	border-radius: 3px;
	box-shadow: 0 1px 2px 0 rgba(50,50,50,0.3);
	margin-bottom: 3px;
}

.panel-shadow {
	background: url(../img/background-shadow.png) no-repeat;
	background-size: 100% auto;
	height: 25px;
}

.panel > .inner {
	padding: 1em 2em;
}

.panel > .footer {
	background-color: #F0EFEF;
	border-top: 1px solid #C1C1C1;
	padding: 1em 2em;
}

h1, h2, h3, h4 {
	font-family: 'Open Sans';
	font-weight: 300;
}

h1.panel-head {
	font-size: 25px;
	color: rgb(71, 143, 225);
	margin: 5px 0px;
	padding: 0px;
	line-height: 30px;
}

h2.panel-head {
	color: #478FE1;
	font-size: 22px;
	border-bottom: 1px solid #C1C1C1;
	padding-bottom: 5px;
	margin: -5px 0px 14px 0px;
}

.processing_message h3 {
	color: #478FE1;
	font-size: 28px;
}

.processing_message h4 {
	color: #478FE1;
	font-size: 22px;
}

.panel .course-details {
	background-color: #FFF;
}

.panel .course-details .logo {
	text-align: center;
	height: 83px;
	line-height: 80px;
}

.panel .course-details .logo img {
	max-height: 76px;
	max-width: 100%;
	margin-bottom: 6px;
	margin-top: 1px;
}

.panel .course-details .teacher {
	background-color: rgb(246, 246, 246);
	padding: 0px;
	font-size: 12px;
	max-height: 60px;
	min-height: 60px;
	overflow: hidden;
	margin-top: -1px;
}

.panel .course-details .teacher img {
	width: 32px;
	height: 32px;
	margin: 12px 11px 12px 10px;
	vertical-align: middle;
}

.panel .course-details .teacher .author_name {
	display: inline-block;
	vertical-align: middle;
	overflow: hidden;
	width: 192px;
	font-weight: bold;
}

@media (min-width: 1200px) { .panel .course-details .teacher .author_name { width: 253px; } }

.panel .course-details .teacher .author_name div {
	line-height: 18px;
	white-space: nowrap;
	color: rgb(68, 68, 68);
}

.panel .course-details .participants {
	background-color: rgb(231, 243, 255);
	color: rgb(71, 143, 225);
	padding: 0px;
	font-size: 12px;
	line-height: 35px;
	margin-bottom: 10px;
}

.messages > .success-msg {
	margin: 1em 0px;
	border: 1px solid #D6E9C6;
	border-radius: 6px;
	padding: 0.5em 1em;
	color: #468847;
	background-color: #DFF0D8;
	font-size: 14px;
}

.messages > .error-msg {
	margin: 1em 0px;
	border: 1px solid #EED3D7;
	border-radius: 6px;
	padding: 0.5em 1em;
	color: #B94A48;
	background-color: #F2DEDE;
	font-size: 14px;
}

.addthis_counter.addthis_pill_style.addthis_nonzero a.addthis_button_expanded {
    display:  none !important;
}

.nav-list.custom {
	border-radius: 6px;
	box-shadow: 0 1px 4px rgba(0,0,0,.065);
	background-color: #FFF;
	padding: 0px;
}

.nav-list.custom li a {
	display: block;
	margin: 0 0 -1px;
	padding: 8px 14px;
	border: 1px solid #E5E5E5;
}

.nav-list.custom li:first-child a { border-radius: 6px 6px 0 0; }
.nav-list.custom li:last-child a { border-radius: 0 0 6px 6px; }

.vbox, .hbox {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-webkit-box-align: start;
	-moz-box-align: start;
	-webkit-align-items: flex-start;
	-ms-flex-align: start;
	align-items: flex-start;
}

.hbox {
	-webkit-box-direction: normal;
	-moz-box-direction: normal;
	-webkit-box-orient: horizontal;
	-moz-box-orient: horizontal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
}

.vbox {
	-webkit-box-direction: normal;
	-moz-box-direction: normal;
	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}

.vbox.stretch, .hbox.stretch {
	-webkit-box-align: stretch;
	-moz-box-align: stretch;
	-webkit-align-items: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
}

.vbox.middle, .hbox.middle {
	-webkit-box-align: center;
	-moz-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.vbox > .expand, .hbox > .expand {
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	-webkit-flex: 1 1 auto;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
}

.control-group.small > .control-label { width: 90px !important; }
.control-group.small > .controls { margin-left: 100px !important; }

.catalog-header-links > a {
	font-size: 22px;
	font-weight: 300;
	font-family: 'Open Sans';
	color: #666;
	text-decoration: none;
	line-height: 58px;
	display: inline-block;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.catalog-header-links > a:hover {
	color: #4189DD;
	-webkit-animation: toolbuttonhover 0.3s;
	animation: toolbuttonhover 0.3s;
}

.catalog-header-links > a.active {
	border-bottom: 3px solid #4189DD;
	color: #000;
}

.catalog-header-links > a.active:hover {
	color: #4189DD;
}
